<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formDeleteCable">
		<rich:popupPanel header="Delete Cable confirm" id="deleteCablePane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="deleteCableGrid">
				<h:outputText value="Are you sure you want to delete this Cable?" />
				<br />
				<h:panelGrid columns="2"
					rendered="#{not empty topologyCable.deleted}">

					<h:outputText value="Cable Id" />
					<h:outputText value="#{topologyCable.deleted.cableId}" />

					<h:outputText value="Behaviour" />
					<h:outputText value="#{topologyCable.deleted.behaviour}" />

					<h:outputText value="Maximum Capacity" />
					<h:outputText value="#{topologyCable.deleted.maxCapacity}" />

					<h:outputText value="Maximum Car Capacity" />
					<h:outputText value="#{topologyCable.deleted.maxCarCapacity}" />

					<h:outputText value="Safety Factor" />
					<h:outputText value="#{topologyCable.deleted.safetyFactor}" />

					<h:outputText value="Remaining Factor" />
					<h:outputText value="#{topologyCable.deleted.remainingFactor}" />

					<h:outputText value="Usage Measurement Responsible" />
					<h:outputText
						value="#{topologyCable.deleted.usageMeasurementResponsible}" />

					<h:outputText value="DSO" />
					<h:outputText value="#{topologyCable.deleted.dso.name}" />

					<h:outputText value="Transformer" />
					<h:outputText value="#{topologyCable.deleted.transformer.trafoId}" />

					<h:outputText value="Active" />
					<h:outputText value="#{topologyCable.deleted.active}" />

					<h:outputText value="Delete Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						value="#{topologyCable.newComments}" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Delete"
						action="#{topologyCable.delete()}" render="cabletable"
						execute="deleteCablePane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('deleteCablePane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('deleteCablePane')}.hide(); cancelCable(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>