<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/components/dashboard/partTemplate.xhtml">
	<ui:define name="partTitle">
		<h:outputText style="float:left;" value="CSP usage deviations" />
		<h:outputText value="&nbsp;" />
		<a4j:commandLink style="float: right; margin-right: 3px"
			actionListener="#{cspUsageDeviationsPart.reset()}"
			execute="@this">
			<h:graphicImage value="#{resource['images/reload.png']}"
				height="12px" alt="refresh" />
		</a4j:commandLink>
	</ui:define>
	<ui:define name="partBody">
		<a4j:outputPanel ajaxRendered="true">
			<h:panelGrid columns="1">
				<h:panelGroup>
					<h:form>
						<rich:dataScroller id="tableCspUsageDeviationsScroller"
							for="tableCspUsageDeviations" maxPages="5"
							renderIfSinglePage="true" fastStep="3" stepControls="show"
							boundaryControls="hide" fastControls="hide" />
						&nbsp;
						<h:inputText value="#{cspUsageDeviationsPart.deviationMargin}"
							id="deviationMargin" style="width: 15px;">
							<a4j:ajax event="change" execute="@this" />
							<f:validateLongRange minimum="0" maximum="99" />
							<f:validateRequired />
						</h:inputText>%
					</h:form>
				</h:panelGroup>
				<rich:extendedDataTable value="#{cspUsageDeviationsPart.counts}"
					var="deviations" id="tableCspUsageDeviations" rows="5"
					selectionMode="none">
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="cable" />
						</f:facet>
						<h:outputText value="#{deviations.cable}" />
					</rich:column>
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="csp" />
						</f:facet>
						<h:outputText value="#{deviations.csp}" />
					</rich:column>
					<rich:column width="45px">
						<f:facet name="header">
							<h:outputText value="1 day" />
						</f:facet>
						<h:outputText value="#{deviations.day}" />
					</rich:column>
					<rich:column width="45px">
						<f:facet name="header">
							<h:outputText value="1 wk" />
						</f:facet>
						<h:outputText value="#{deviations.week}" />
					</rich:column>
					<rich:column width="45px">
						<f:facet name="header">
							<h:outputText value="4 wk" />
						</f:facet>
						<h:outputText value="#{deviations.fourWeek}" />
					</rich:column>
				</rich:extendedDataTable>
				<rich:message for="deviationMargin" />
			</h:panelGrid>
		</a4j:outputPanel>
	</ui:define>
</ui:composition>
</html>