<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/components/dashboard/partTemplate.xhtml">
	<ui:define name="partTitle">
		<h:outputText style="float:left;"
			value="Last forecast input (Smart Usage)" />
		<h:outputText value="&nbsp;" />
		<a4j:commandLink style="float: right; margin-right: 3px"
			actionListener="#{suLastForecastInputPart.reset()}"
			execute="@this">
			<h:graphicImage value="#{resource['images/reload.png']}"
				height="12px" alt="refresh" />
		</a4j:commandLink>
	</ui:define>
	<ui:define name="partBody">
		<a4j:outputPanel ajaxRendered="true">
			<h:panelGrid columns="1">
				<rich:dataScroller id="tableSuFcInputScroller" for="tableSuFcInput"
					maxPages="5" renderIfSinglePage="true" fastStep="3"
					stepControls="show" boundaryControls="hide" fastControls="hide" />
				<rich:extendedDataTable value="#{suLastForecastInputPart.data}"
					var="data" id="tableSuFcInput" rows="5" selectionMode="none">
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="cable" />
						</f:facet>
						<h:outputText value="#{data.cableId}" />
					</rich:column>
					<rich:column width="80px">
						<f:facet name="header">
							<h:outputText value="irr. forecast" />
						</f:facet>
						<h:outputText rendered="#{not empty data.irrForecast}"
							value="#{data.irrForecast}">
							<f:convertDateTime type="both" pattern="dd-MM HH:mm" />
						</h:outputText>
					</rich:column>
					<rich:column width="80px">
						<f:facet name="header">
							<h:outputText value="irr. observed" />
						</f:facet>
						<h:outputText rendered="#{not empty data.irrObservation}"
							value="#{data.irrObservation}">
							<f:convertDateTime type="both" pattern="dd-MM HH:mm" />
						</h:outputText>
					</rich:column>
					<rich:column width="80px">
						<f:facet name="header">
							<h:outputText value="usage" />
						</f:facet>
						<h:outputText rendered="#{not empty data.usage}"
							value="#{data.usage}">
							<f:convertDateTime type="both" pattern="dd-MM HH:mm" />
						</h:outputText>
					</rich:column>
				</rich:extendedDataTable>
			</h:panelGrid>
		</a4j:outputPanel>
	</ui:define>
</ui:composition>
</html>