/*
 * #%L
 * SCiP-admin-gui
 * %%
 * Copyright (C) 2015 - 2016 ENEXIS
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */
@CHARSET "ISO-8859-1";

.panelgrid-column {
    vertical-align: text-top;
}

.dashboardColumn {
	width: 33%;
	vertical-align: top;
}

.dashboardPart {
	height: 205px;
}

.panelgrid-column-align-top {
    vertical-align: top;
}

.body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

.body:VISITED {
	color: #000000;
}

.a4j-commandLink {
	font-size: 12px;
	color: #000000;
}

.a4j-commandLink:VISITED {
	color: #000000;
}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	color: #8E969D;
}

.eventTree.rf-trn-lbl {
	vertical-align: top;
}

.eventTree.rf-trn {
	background: none;
}

.eventTree.rf-trn-hnd {
	vertical-align: top;
}

.eventTree .rf-tr-nd {
	background: none;
}
