<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formEditTransformer">
		<rich:popupPanel header="Edit Transformer Parameters"
			id="editTransformerPane" domElementAttachment="form" autosized="true"
			resizeable="false">
			<a4j:outputPanel id="editTransformerGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyTransformer.edited}">
					<h:outputText value="ID" />
					<h:outputText value="#{topologyTransformer.edited.trafoId}" />
					<h:outputText value="&nbsp;" />

					<h:outputText value="Measurement Provider" />
					<rich:select
						value="#{topologyTransformer.editedMeasurementProviderId}"
						id="trafoparammp" style="width:200px;">
						<f:selectItems
							value="#{topologyMeasurementProvider.allMeasurementProviderOptions}" />
					</rich:select>
					<rich:message for="trafoparammp" />

					<h:outputText value="Last measurement" />
					<h:outputText value="#{topologyTransformer.edited.lastMeasurement}" />
					<h:outputText value="&nbsp;" />

					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="trafoparamactive"
						value="#{topologyTransformer.edited.active}" />
					<rich:message for="trafoparamactive" />

					<h:outputText value="Change Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="trafoparamcomment" value="#{topologyTransformer.newComments}" />
					<rich:message for="trafoparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Save"
						action="#{topologyTransformer.save()}" render="transformertable"
						execute="editTransformerPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editTransformerPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('editTransformerPane')}.hide(); cancelTransformer(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>