<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formEditMP">
		<rich:popupPanel header="Edit Measurement Provider Parameters"
			id="editMPPane" domElementAttachment="form" autosized="true"
			resizeable="false">
			<a4j:outputPanel id="editMPGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyMeasurementProvider.edited}">
					<h:outputText value="ID" />
					<h:outputText value="#{topologyMeasurementProvider.edited.id}" />
					<h:outputText value="&nbsp;" />

					<h:outputText value="Name" />
					<h:inputText value="#{topologyMeasurementProvider.edited.name}"
						id="mpparamname" label="Name" style="width:200px;">
					</h:inputText>
					<rich:message for="mpparamname" />

					<h:outputText value="Endpoint" />
					<h:inputText value="#{topologyMeasurementProvider.edited.endpoint}"
						id="mpparamendpoint" label="Endpoint" style="width:200px;">
					</h:inputText>
					<rich:message for="mpparamendpoint" />
					
					<h:outputText value="Username" />
					<h:inputText value="#{topologyMeasurementProvider.edited.username}"
						id="mpparamusername" label="Username" style="width:100px;">
					</h:inputText>
					<rich:message for="mpparamusername" />
					
					<h:outputText value="Password" />
					<h:inputText value="#{topologyMeasurementProvider.edited.password}"
						id="mpparampassword" label="Password" style="width:100px;">
					</h:inputText>
					<rich:message for="mpparampassword" />
					
					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="mpparamactive"
						value="#{topologyMeasurementProvider.edited.active}" />
					<rich:message for="mpparamactive" />

					<h:outputText value="Change Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="mpparamcomment"
						value="#{topologyMeasurementProvider.newComments}" />
					<rich:message for="mpparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Save"
						action="#{topologyMeasurementProvider.save}" render="mptable"
						execute="editMPPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editMPPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('editMPPane')}.hide(); cancelMP(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>