<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formEditCspConnection">
		<rich:popupPanel header="Edit CSP Connection Parameters"
			id="editCspConnectionPane" domElementAttachment="form"
			autosized="true" resizeable="false">
			<a4j:outputPanel id="editCspConnectionGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyCspConnection.edited}">
					<h:outputText value="EAN18" />
					<h:outputText value="#{topologyCspConnection.edited.ean18}" />
					<h:outputText value="&nbsp;" />

					<h:outputText value="CableCsp" />
					<rich:select value="#{topologyCspConnection.editedCableCspId}"
						id="cspconnectionparamcablecsp" style="width:200px;">
						<f:selectItems value="#{topologyCableCsp.allCableCspOptions}" />
					</rich:select>
					<rich:message for="cspconnectionparamcablecsp" />

					<h:outputText value="Capacity" />
					<h:inputText value="#{topologyCspConnection.edited.capacity}"
						id="cspconnectionparamcapacity" label="Capacity"
						style="width:200px;">
					</h:inputText>
					<rich:message for="cspconnectionparamcapacity" />

					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="cspconnectionparamactive"
						value="#{topologyCspConnection.edited.active}" />
					<rich:message for="cspconnectionparamactive" />

					<h:outputText value="Change Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="cspconnectionparamcomment"
						value="#{topologyCspConnection.newComments}" />
					<rich:message for="cspconnectionparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Save"
						action="#{topologyCspConnection.save()}"
						render="cspconnectiontable" execute="editCspConnectionPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editCspConnectionPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('editCspConnectionPane')}.hide(); cancelCspConnection(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>