<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formEditDso">
		<rich:popupPanel header="Edit DSO Parameters" id="editDsoPane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="editDsoGrid">
				<h:panelGrid columns="3" rendered="#{not empty topologyDso.edited}">
					<h:outputText value="EAN13" />
					<h:outputText value="#{topologyDso.edited.ean13}" />
					<h:outputText value="&nbsp;" />

					<h:outputText value="Name" />
					<h:inputText value="#{topologyDso.edited.name}" id="dsoparamname"
						label="Name" style="width:200px;">
					</h:inputText>
					<rich:message for="dsoparamname" />

					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="dsoparamactive"
						value="#{topologyDso.edited.active}" />
					<rich:message for="dsoparamactive" />

					<h:outputText value="Change Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="dsoparamcomment" value="#{topologyDso.newComments}" />
					<rich:message for="dsoparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Save" action="#{topologyDso.save()}"
						render="dsotable" execute="editDsoPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editDsoPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('editDsoPane')}.hide(); cancelDso(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>