<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formEditCable">
		<rich:popupPanel header="Edit Cable Parameters" id="editCablePane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="editCableGrid">
				<rich:graphValidator value="#{topologyCable.edited}"
					id="editcablevalidation">
					<h:panelGrid columns="3"
						rendered="#{not empty topologyCable.edited}">
						<h:outputText value="Cable Id" />
						<h:outputText value="#{topologyCable.edited.cableId}" />
						<h:outputText value="&nbsp;" />

						<h:outputText value="Behaviour" />
						<rich:select value="#{topologyCable.edited.behaviour}"
							id="cableparambehaviour">
							<f:selectItems value="#{topologyCable.behaviourOptions}" />
						</rich:select>
						<rich:message for="cableparambehaviour" />

						<h:outputText value="Maximum Capacity" />
						<h:inputText value="#{topologyCable.edited.maxCapacity}"
							id="cableparammaxcapacity" label="Maximum Capacity"
							style="width:200px;">
						</h:inputText>
						<rich:message for="cableparammaxcapacity" />

						<h:outputText value="Maximum Car Capacity" />
						<h:inputText value="#{topologyCable.edited.maxCarCapacity}"
							id="cableparammaxcarcapacity" label="Maximum Car Capacity"
							style="width:200px;">
						</h:inputText>
						<rich:message for="cableparammaxcarcapacity" />

						<h:outputText value="Safety Factor" />
						<h:inputText value="#{topologyCable.edited.safetyFactor}"
							id="cableparamsafetyfactor" label="Safety Factor"
							style="width:200px;">
						</h:inputText>
						<rich:message for="cableparamsafetyfactor" />

						<h:outputText value="Remaining Factor" />
						<h:inputText value="#{topologyCable.edited.remainingFactor}"
							id="cableparamremainingfactor" label="Remaining Factor"
							style="width:200px;">
						</h:inputText>
						<rich:message for="cableparamremainingfactor" />

						<h:outputText value="Usage Measurement Responsible" />
						<rich:select
							value="#{topologyCable.edited.usageMeasurementResponsible}"
							id="cableparamump"
							converter="usageMeasurementResponsibleConverter">
							<f:selectItems
								value="#{topologyCable.usageMeasurementResponsibleOptions}" />
						</rich:select>
						<rich:message for="cableparamump" />

						<h:outputText value="DSO" />
						<rich:select value="#{topologyCable.editedDsoEan13}"
							id="cableparamdso" style="width:200px;">
							<f:selectItems value="#{topologyDso.allDsoOptions}" />
						</rich:select>
						<rich:message for="cableparamdso" />

						<h:outputText value="Transformer" />
						<rich:select value="#{topologyCable.editedTrafoId}"
							id="cableparamtrafo" style="width:200px;">
							<f:selectItems
								value="#{topologyTransformer.allTransformerOptions}" />
						</rich:select>
						<rich:message for="cableparamtrafo" />

						<h:outputText value="Active" />
						<h:selectBooleanCheckbox id="cableparamactive"
							value="#{topologyCable.edited.active}" />
						<rich:message for="cableparamactive" />

						<h:outputText value="Fixed Forecast" />
						<h:selectBooleanCheckbox id="cableparamfixedforecast"
							value="#{topologyCable.edited.fixedForecast}" />
						<rich:message for="cableparamfixedforecast" />

						<h:outputText value="Fixed Forecast Max" />
						<h:inputText value="#{topologyCable.edited.fixedForecastMax}"
							id="paramfixedforcastmax" label="Fixed Forecast Max"
							style="width:200px;">
						</h:inputText>
						<rich:message for="paramfixedforcastmax" />

						<h:outputText value="Fixed Forecast Deviation" />
						<h:inputText
							value="#{topologyCable.edited.fixedForecastDeviation}"
							id="paramfixedforcastdeviation" label="Fixed Forecast Deviation"
							style="width:200px;">
						</h:inputText>
						<rich:message for="paramfixedforcastdeviation" />

						<h:outputText value="Fixed Forecast Random" />
						<h:selectBooleanCheckbox id="cableparamfixedforcastrandom"
							value="#{topologyCable.edited.fixedForecastRandom}" />
						<rich:message for="cableparamfixedforcastrandom" />

						<h:outputText value="Fixed Forecast Deviation Blocks" />
						<h:inputText
							value="#{topologyCable.edited.fixedForecastDeviationBlocks}"
							id="paramfixedforcastdeviationblocks"
							label="Fixed Forecast Deviation Blocks" style="width:200px;">
						</h:inputText>
						<rich:message for="paramfixedforcastdeviationblocks" />

						<h:outputText value="Change Comments:" />
						<h:inputText readonly="false" style="width:200px;"
							id="cableparamcomment" value="#{topologyCable.newComments}" />
						<rich:message for="cableparamcomment" />

						<h:outputText value="&nbsp;" />
						<h:outputText value="&nbsp;" />
						<h:outputText value="&nbsp;" />
						<a4j:commandButton value="Save" action="#{topologyCable.save()}"
							render="cabletable" execute="editCablePane"
							oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editCablePane')}.hide();}" />
						<a4j:commandButton value="Cancel"
							onclick="#{rich:component('editCablePane')}.hide(); cancelCable(); return false;" />
					</h:panelGrid>
					<rich:messages for="editcablevalidation" />
				</rich:graphValidator>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>