<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formEditCableCsp">
		<rich:popupPanel header="Edit Cable CSP Parameters"
			id="editCableCspPane" domElementAttachment="form" autosized="true"
			resizeable="false">
			<a4j:outputPanel id="editCableCspGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyCableCsp.edited}">
					<h:outputText value="ID" />
					<h:outputText value="#{topologyCableCsp.edited.id}" />
					<h:outputText value="&nbsp;" />

					<h:outputText value="Cable" />
					<rich:select value="#{topologyCableCsp.editedCableId}"
						id="cablecspparamcable" style="width:200px;">
						<f:selectItems value="#{topologyCable.allCableOptions}" />
					</rich:select>
					<rich:message for="cablecspparamcable" />

					<h:outputText value="CSP" />
					<rich:select value="#{topologyCableCsp.editedCspEan13}"
						id="cablecspparamcsp" style="width:200px;">
						<f:selectItems value="#{topologyCsp.allCspOptions}" />
					</rich:select>
					<rich:message for="cablecspparamcsp" />

					<h:outputText value="Nr of Blocks" />
					<h:inputText value="#{topologyCableCsp.edited.numberOfBlocks}"
						id="cablecspparamnrofblocks" label="Number of Blocks"
						style="width:200px;">
					</h:inputText>
					<rich:message for="cablecspparamnrofblocks" />

					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="cablecspparamactive"
						value="#{topologyCableCsp.edited.active}" />
					<rich:message for="cablecspparamactive" />

					<h:outputText value="Change Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="cablecspparamcomment" value="#{topologyCableCsp.newComments}" />
					<rich:message for="cablecspparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Save" action="#{topologyCableCsp.save()}"
						render="cablecsptable" execute="editCableCspPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editCableCspPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('editCableCspPane')}.hide(); cancelCableCsp(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>