<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formTransformer">
		<h:panelGrid columns="1" width="100%">
			<h:panelGrid columns="1">
				<h:panelGrid columns="1" width="100%" style="text-align:center;">
					<rich:dataScroller id="transformertableScroller"
						for="transformertable" maxPages="5" renderIfSinglePage="false"
						fastStep="5" stepControls="auto" boundaryControls="auto"
						fastControls="auto" />
				</h:panelGrid>
				<rich:extendedDataTable value="#{topologyTransformer.all}"
					var="transformer" id="transformertable" selectionMode="none"
					rows="20">
					<rich:column width="100px">
						<f:facet name="header">
							<h:outputText value="TrafoID" />
						</f:facet>
						<h:outputText value="#{transformer.trafoId}" />
					</rich:column>
					<rich:column width="300px">
						<f:facet name="header">
							<h:outputText value="Measurement Provider" />
						</f:facet>
						<h:outputText value="#{transformer.measurementProvider.name}" />
					</rich:column>
					<rich:column width="200px">
						<f:facet name="header">
							<h:outputText value="Last measurement" />
						</f:facet>
						<h:outputText value="#{transformer.lastMeasurement}" />
					</rich:column>
					<rich:column width="40px">
						<f:facet name="header">
							<h:outputText value="active" />
						</f:facet>
						<h:outputText value="#{transformer.active}" />
					</rich:column>
					<rich:column width="50px"
						rendered="#{authorizer.isAuthorized('edit')}">
						<f:facet name="header">
							<h:outputText value="edit" />
						</f:facet>
						<a4j:commandLink styleClass="no-decor"
							render="editTransformerGrid" execute="@this"
							oncomplete="#{rich:component('editTransformerPane')}.show()">
							<h:graphicImage value="#{resource['images/edit.png']}" height="15px" alt="edit" />
							<f:setPropertyActionListener
								target="#{topologyTransformer.edited}" value="#{transformer}" />
						</a4j:commandLink>
						<a4j:commandLink styleClass="no-decor" style="margin-left:5px;"
							render="deleteTransformerGrid"
							rendered="#{not transformer.active}" execute="@this"
							oncomplete="#{rich:component('deleteTransformerPane')}.show()">
							<h:graphicImage value="#{resource['images/trash.png']}" height="15px"
								alt="delete" />
							<f:setPropertyActionListener
								target="#{topologyTransformer.deleted}" value="#{transformer}" />
						</a4j:commandLink>
					</rich:column>
				</rich:extendedDataTable>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</ui:composition>
</html>