<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formCspConnections">
		<h:panelGrid columns="1" width="100%">
			<h:panelGrid columns="1">
				<h:panelGrid columns="1" width="100%" style="text-align:center;">
					<rich:dataScroller id="cspconnectiontableScroller"
						for="cspconnectiontable" maxPages="5" renderIfSinglePage="false"
						fastStep="5" stepControls="auto" boundaryControls="auto"
						fastControls="auto" />
				</h:panelGrid>
				<rich:extendedDataTable value="#{topologyCspConnection.all}"
					var="cspconnection" id="cspconnectiontable" selectionMode="none"
					rows="20">
					<rich:column width="100px">
						<f:facet name="header">
							<h:outputText value="ean13" />
						</f:facet>
						<h:outputText value="#{cspconnection.ean18}" />
					</rich:column>
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="cable csp" />
						</f:facet>
						<h:outputText value="#{cspconnection.cableCsp.id}" />
					</rich:column>
					<rich:column width="100px">
						<f:facet name="header">
							<h:outputText value="capacity" />
						</f:facet>
						<h:outputText value="#{cspconnection.capacity}" />
					</rich:column>
					<rich:column width="40px">
						<f:facet name="header">
							<h:outputText value="active" />
						</f:facet>
						<h:outputText value="#{cspconnection.active}" />
					</rich:column>
					<rich:column width="50px"
						rendered="#{authorizer.isAuthorized('edit')}">
						<f:facet name="header">
							<h:outputText value="edit" />
						</f:facet>
						<a4j:commandLink styleClass="no-decor"
							render="editCspConnectionGrid" execute="@this"
							oncomplete="#{rich:component('editCspConnectionPane')}.show()">
							<h:graphicImage value="#{resource['images/edit.png']}" height="15px" alt="edit" />
							<f:setPropertyActionListener
								target="#{topologyCspConnection.edited}"
								value="#{cspconnection}" />
						</a4j:commandLink>
						<a4j:commandLink styleClass="no-decor"
							render="deleteCspConnectionGrid"
							rendered="#{not cspconnection.active}" execute="@this"
							style="margin-left:5px;"
							oncomplete="#{rich:component('deleteCspConnectionPane')}.show()">
							<h:graphicImage value="#{resource['images/trash.png']}" height="15px"
								alt="delete" />
							<f:setPropertyActionListener
								target="#{topologyCspConnection.deleted}"
								value="#{cspconnection}" />
						</a4j:commandLink>
					</rich:column>
				</rich:extendedDataTable>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</ui:composition>
</html>