<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formMPs">
		<h:panelGrid columns="1" width="100%">
			<h:panelGrid columns="1">
				<h:panelGrid columns="1" width="100%" style="text-align:center;">
					<rich:dataScroller id="mptableScroller" for="mptable" maxPages="5"
						renderIfSinglePage="false" fastStep="5" stepControls="auto"
						boundaryControls="auto" fastControls="auto" />
				</h:panelGrid>
				<rich:extendedDataTable value="#{topologyMeasurementProvider.all}"
					var="mp" id="mptable" selectionMode="none" rows="20">
					<rich:column width="100px">
						<f:facet name="header">
							<h:outputText value="id" />
						</f:facet>
						<h:outputText value="#{mp.id}" />
					</rich:column>
					<rich:column width="200px">
						<f:facet name="header">
							<h:outputText value="name" />
						</f:facet>
						<h:outputText value="#{mp.name}" />
					</rich:column>
					<rich:column width="320px">
						<f:facet name="header">
							<h:outputText value="endpoint" />
						</f:facet>
						<h:outputText value="#{mp.endpoint}" />
					</rich:column>
					<rich:column width="100px">
						<f:facet name="header">
							<h:outputText value="username" />
						</f:facet>
						<h:outputText value="#{mp.username}" />
					</rich:column>
					<rich:column width="50px">
						<f:facet name="header">
							<h:outputText value="active" />
						</f:facet>
						<h:outputText value="#{mp.active}" />
					</rich:column>
					<rich:column width="50px"
						rendered="#{authorizer.isAuthorized('edit')}">
						<f:facet name="header">
							<h:outputText value="edit" />
						</f:facet>
						<a4j:commandLink styleClass="no-decor" render="editMPGrid"
							execute="@this"
							oncomplete="#{rich:component('editMPPane')}.show()">
							<h:graphicImage value="#{resource['images/edit.png']}" height="15px" alt="edit" />
							<f:setPropertyActionListener
								target="#{topologyMeasurementProvider.edited}" value="#{mp}" />
						</a4j:commandLink>
						<a4j:commandLink styleClass="no-decor" render="deleteMPGrid"
							style="margin-left:5px;" rendered="#{not mp.active}"
							execute="@this"
							oncomplete="#{rich:component('deleteMPPane')}.show()">
							<h:graphicImage value="#{resource['images/trash.png']}" height="15px"
								alt="delete" />
							<f:setPropertyActionListener
								target="#{topologyMeasurementProvider.deleted}" value="#{mp}" />
						</a4j:commandLink>
					</rich:column>
				</rich:extendedDataTable>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</ui:composition>
</html>