<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formCables">
		<h:panelGrid columns="1" width="100%">
			<h:panelGrid columns="1">
				<h:panelGrid columns="1" width="100%" style="text-align:center;">
					<rich:dataScroller id="cabletableScroller" for="cabletable"
						maxPages="5" renderIfSinglePage="false" fastStep="5"
						stepControls="auto" boundaryControls="auto" fastControls="auto" />
				</h:panelGrid>
				<rich:extendedDataTable value="#{topologyCable.all}" var="cable"
					id="cabletable" selectionMode="none" rows="20">
					<rich:column width="85px">
						<f:facet name="header">
							<h:outputText value="cable id" />
						</f:facet>
						<h:outputText value="#{cable.cableId}" />
					</rich:column>
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="behaviour" />
						</f:facet>
						<h:outputText value="#{cable.behaviour.toString()}" />
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="max capacity" />
						</f:facet>
						<h:outputText value="#{cable.maxCapacity}" />
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="max car capacity" />
						</f:facet>
						<h:outputText value="#{cable.maxCarCapacity}" />
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="safety factor" />
						</f:facet>
						<h:outputText value="#{cable.safetyFactor}" />
					</rich:column>
					<rich:column width="65px">
						<f:facet name="header">
							<h:outputText value="remaining factor" />
						</f:facet>
						<h:outputText value="#{cable.remainingFactor}" />
					</rich:column>
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="usage measurement" />
						</f:facet>
						<h:outputText value="#{cable.usageMeasurementResponsible}" />
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="DSO" />
						</f:facet>
						<h:outputText value="#{cable.dso.name}" />
					</rich:column>
					<rich:column width="40px">
						<f:facet name="header">
							<h:outputText value="Trafo" />
						</f:facet>
						<h:outputText value="#{cable.transformer.trafoId}" />
					</rich:column>
					<rich:column width="40px">
						<f:facet name="header">
							<h:outputText value="active" />
						</f:facet>
						<h:outputText value="#{cable.active}" />
					</rich:column>
					<rich:column width="120px">
						<f:facet name="header">
							<h:outputText value="CSP capacity changed at" />
						</f:facet>
						<h:outputText value="#{cable.cspLastCapacityChange}">
							<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
						</h:outputText>
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="fixed forecast" />
						</f:facet>
						<h:outputText value="#{cable.fixedForecast}" />
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="fixed forecast max" />
						</f:facet>
						<h:outputText value="#{cable.fixedForecastMax}" />
					</rich:column>
					<rich:column width="60px">
						<f:facet name="header">
							<h:outputText value="fixed forecast deviation" />
						</f:facet>
						<h:outputText value="#{cable.fixedForecastDeviation}" />
					</rich:column>
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="fixed forecast deviation random" />
						</f:facet>
						<h:outputText value="#{cable.fixedForecastRandom}" />
					</rich:column>
					<rich:column width="90px">
						<f:facet name="header">
							<h:outputText value="fixed forecast deviation blocks" />
						</f:facet>
						<h:outputText value="#{cable.fixedForecastDeviationBlocks}" />
					</rich:column>
					<rich:column width="50px"
						rendered="#{authorizer.isAuthorized('edit')}">
						<f:facet name="header">
							<h:outputText value="edit" />
						</f:facet>
						<a4j:commandLink styleClass="no-decor" render="editCableGrid"
							execute="@this"
							oncomplete="#{rich:component('editCablePane')}.show()">
							<h:graphicImage value="#{resource['images/edit.png']}" height="15px" alt="edit" />
							<f:setPropertyActionListener target="#{topologyCable.edited}"
								value="#{cable}" />
						</a4j:commandLink>
						<a4j:commandLink styleClass="no-decor" render="deleteCableGrid"
							style="margin-left:5px;" execute="@this"
							rendered="#{not cable.active}"
							oncomplete="#{rich:component('deleteCablePane')}.show()">
							<h:graphicImage value="#{resource['images/trash.png']}" height="15px"
								alt="delete" />
							<f:setPropertyActionListener target="#{topologyCable.deleted}"
								value="#{cable}" />
						</a4j:commandLink>
					</rich:column>
				</rich:extendedDataTable>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</ui:composition>
</html>