<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formDeleteNotification">
		<rich:popupPanel header="Delete notification confirm"
			id="deleteNotificationPane" domElementAttachment="form"
			autosized="true" resizeable="false">
			<b><h:outputText
					value="Are you sure you want to delete this notification?" /></b>
			<h:panelGrid columns="2" id="deleteNotificationGrid">
				<h:outputText value="&nbsp;" />
				<h:outputText value="&nbsp;" />

				<h:outputText value="Event" />
				<h:outputText value="#{profileUser.toDeleteNotification.event}" />

				<h:outputText value="Interval" />
				<h:outputText value="#{profileUser.toDeleteNotification.interval}" />

				<h:outputText value="Level" />
				<h:outputText value="#{profileUser.toDeleteNotification.level}" />

				<h:outputText value="Enabled" />
				<h:outputText value="#{profileUser.toDeleteNotification.enabled}" />

				<h:outputText value="&nbsp;" />
				<h:outputText value="&nbsp;" />

				<a4j:commandButton value="Delete"
					action="#{profileUser.deleteNotification()}"
					render="notificationtable" execute="deleteNotificationPane"
					oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('deleteNotificationPane')}.hide();}" />
				<a4j:commandButton value="Cancel"
					action="#{profileUser.cancelDeleteNotification()}"
					onclick="#{rich:component('deleteNotificationPane')}.hide(); return false;" />
			</h:panelGrid>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>