<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formNewCable">
		<rich:popupPanel header="New Cable" id="newCablePane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="newCableGrid">
				<rich:graphValidator value="#{topologyCable.newEntity}"
					id="newcablevalidation">
					<h:panelGrid columns="3"
						rendered="#{not empty topologyCable.newEntity}">
						<h:outputText value="Cable ID" />
						<h:inputText value="#{topologyCable.newEntity.cableId}"
							id="newcableparamname" label="Name" style="width:200px;">
						</h:inputText>
						<rich:message for="newcableparamname" />

						<h:outputText value="Behaviour" />
						<rich:select value="#{topologyCable.newEntity.behaviour}"
							id="newcableparambehaviour">
							<f:selectItems value="#{topologyCable.behaviourOptions}" />
						</rich:select>
						<rich:message for="newcableparambehaviour" />

						<h:outputText value="Maximum Capacity" />
						<h:inputText value="#{topologyCable.newEntity.maxCapacity}"
							id="newcableparammaxcapacity" label="Maximum Capacity"
							style="width:200px;">
						</h:inputText>
						<rich:message for="newcableparammaxcapacity" />

						<h:outputText value="Maximum Car Capacity" />
						<h:inputText value="#{topologyCable.newEntity.maxCarCapacity}"
							id="newcableparammaxcarcapacity" label="Maximum Car Capacity"
							style="width:200px;">
						</h:inputText>
						<rich:message for="newcableparammaxcarcapacity" />

						<h:outputText value="Safety Factor" />
						<h:inputText value="#{topologyCable.newEntity.safetyFactor}"
							id="newcableparamsafetyfactor" label="Safety Factor"
							style="width:200px;">
						</h:inputText>
						<rich:message for="newcableparamsafetyfactor" />

						<h:outputText value="Remaining Factor" />
						<h:inputText value="#{topologyCable.newEntity.remainingFactor}"
							id="newcableparamremainingfactor" label="Remaining Factor"
							style="width:200px;">
						</h:inputText>
						<rich:message for="newcableparamremainingfactor" />

						<h:outputText value="Usage Measurement Responsible" />
						<rich:select
							value="#{topologyCable.newEntity.usageMeasurementResponsible}"
							id="newcableparamump"
							converter="usageMeasurementResponsibleConverter">
							<f:selectItems
								value="#{topologyCable.usageMeasurementResponsibleOptions}" />
						</rich:select>
						<rich:message for="newcableparamump" />

						<h:outputText value="DSO" />
						<rich:select value="#{topologyCable.newDsoEan13}"
							id="newcableparamdso" style="width:200px;">
							<f:selectItems value="#{topologyDso.allDsoOptions}" />
						</rich:select>
						<rich:message for="newcableparamdso" />

						<h:outputText value="Transformer" />
						<rich:select value="#{topologyCable.newTrafoId}"
							id="newcableparamtrafo" style="width:200px;">
							<f:selectItems
								value="#{topologyTransformer.allTransformerOptions}" />
						</rich:select>
						<rich:message for="newcableparamtrafo" />

						<h:outputText value="Active" />
						<h:selectBooleanCheckbox id="newcableparamactive"
							value="#{topologyCable.newEntity.active}" />
						<rich:message for="newcableparamactive" />

						<h:outputText value="Fixed Forecast" />
						<h:selectBooleanCheckbox id="newcableparamfixedforecast"
							value="#{topologyCable.newEntity.fixedForecast}" />
						<rich:message for="newcableparamfixedforecast" />

						<h:outputText value="Fixed Forecast Max" />
						<h:inputText value="#{topologyCable.newEntity.fixedForecastMax}"
							id="paramfixedforcastmax" label="Fixed Forecast Max"
							style="width:200px;">
						</h:inputText>
						<rich:message for="paramfixedforcastmax" />

						<h:outputText value="Fixed Forecast Deviation" />
						<h:inputText
							value="#{topologyCable.newEntity.fixedForecastDeviation}"
							id="paramfixedforcastdeviation" label="Fixed Forecast Deviation"
							style="width:200px;">
						</h:inputText>
						<rich:message for="paramfixedforcastdeviation" />

						<h:outputText value="Fixed Forecast Random" />
						<h:selectBooleanCheckbox id="newcableparamfixedforcastrandom"
							value="#{topologyCable.newEntity.fixedForecastRandom}" />
						<rich:message for="newcableparamfixedforcastrandom" />

						<h:outputText value="Fixed Forecast Deviation Blocks" />
						<h:inputText
							value="#{topologyCable.newEntity.fixedForecastDeviationBlocks}"
							id="paramfixedforcastdeviationblocks"
							label="Fixed Forecast Deviation Blocks" style="width:200px;">
						</h:inputText>
						<rich:message for="paramfixedforcastdeviationblocks" />

						<h:outputText value="Add Comments:" />
						<h:inputText readonly="false" style="width:200px;"
							id="newcableparamcomment" value="#{topologyMeter.newComments}" />
						<rich:message for="newcableparamcomment" />

						<h:outputText value="&nbsp;" />
						<h:outputText value="&nbsp;" />
						<h:outputText value="&nbsp;" />
						<a4j:commandButton value="Add" action="#{topologyCable.insert()}"
							render="cabletable" execute="newCablePane"
							oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('newCablePane')}.hide();}" />
						<a4j:commandButton value="Cancel"
							onclick="#{rich:component('newCablePane')}.hide(); cancelCable(); return false;" />
					</h:panelGrid>
					<rich:messages for="newcablevalidation" />
				</rich:graphValidator>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>