<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formNewDso">
		<rich:popupPanel header="New DSO" id="newDsoPane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="newDsoGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyDso.newEntity}">
					<h:outputText value="EAN13" />
					<h:inputText value="#{topologyDso.newEntity.ean13}"
						id="newdsoparamean13" label="Ean13" style="width:200px;">
					</h:inputText>
					<rich:message for="newdsoparamean13" />

					<h:outputText value="Name" />
					<h:inputText value="#{topologyDso.newEntity.name}"
						id="newdsoparamname" label="Name" style="width:200px;">
					</h:inputText>
					<rich:message for="newdsoparamname" />

					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="newdsoparamactive"
						value="#{topologyDso.newEntity.active}" />
					<rich:message for="newdsoparamactive" />

					<h:outputText value="Add Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="newdsoparamcomment" value="#{topologyDso.newComments}" />
					<rich:message for="newdsoparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Add" action="#{topologyDso.insert()}"
						render="dsotable" execute="newDsoPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('newDsoPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('newDsoPane')}.hide(); cancelDso(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>