<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formNewMP">
		<rich:popupPanel header="New Measurement Provider" id="newMPPane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="newMPGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyMeasurementProvider.newEntity}">
					<h:outputText value="ID" />
					<h:inputText value="#{topologyMeasurementProvider.newEntity.id}"
						id="newmpparameanid" label="ID" style="width:200px;">
					</h:inputText>
					<rich:message for="newmpparameanid" />

					<h:outputText value="Name" />
					<h:inputText value="#{topologyMeasurementProvider.newEntity.name}"
						id="newmpparamname" label="Name" style="width:200px;">
					</h:inputText>
					<rich:message for="newmpparamname" />

					<h:outputText value="Endpoint" />
					<h:inputText
						value="#{topologyMeasurementProvider.newEntity.endpoint}"
						id="newmpparamendpoint" label="Endpoint" style="width:200px;">
					</h:inputText>
					<rich:message for="newmpparamendpoint" />

					<h:outputText value="Username" />
					<h:inputText
						value="#{topologyMeasurementProvider.newEntity.username}"
						id="newmpparamusername" label="Username" style="width:100px;">
					</h:inputText>
					<rich:message for="newmpparamusername" />
					
					<h:outputText value="Password" />
					<h:inputText
						value="#{topologyMeasurementProvider.newEntity.password}"
						id="newmpparampassword" label="Password" style="width:100px;">
					</h:inputText>
					<rich:message for="newmpparampassword" />
					
					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="newmpparamactive"
						value="#{topologyMeasurementProvider.newEntity.active}" />
					<rich:message for="newmpparamactive" />

					<h:outputText value="Add Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="newmpparamcomment"
						value="#{topologyMeasurementProvider.newComments}" />
					<rich:message for="newmpparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Add"
						action="#{topologyMeasurementProvider.insert()}" render="mptable"
						execute="newMPPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('newMPPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('newMPPane')}.hide(); cancelMP(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>