<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form id="formNewMeter">
		<rich:popupPanel header="New Meter" id="newMeterPane"
			domElementAttachment="form" autosized="true" resizeable="false">
			<a4j:outputPanel id="newMeterGrid">
				<h:panelGrid columns="3"
					rendered="#{not empty topologyMeter.newEntity}">
					<h:outputText value="ID" />
					<h:inputText value="#{topologyMeter.newEntity.meterId}"
						id="newmeterparamid" label="Id" style="width:200px;">
					</h:inputText>
					<rich:message for="newmeterparamid" />

					<h:outputText value="Name" />
					<h:inputText value="#{topologyMeter.newEntity.meterName}"
						id="newmeterparamname" label="Name" style="width:200px;">
					</h:inputText>
					<rich:message for="newmeterparamname" />

					<h:outputText value="Measures" />
					<rich:select value="#{topologyMeter.newEntity.measures}"
						id="newmeterparammeasures" style="width:200px;"
						converter="measuresForConverter">
						<f:selectItems value="#{topologyMeter.measuresForOptions}" />
					</rich:select>
					<rich:message for="newmeterparammeasures" />

					<h:outputText value="Transformer" />
					<rich:select value="#{topologyMeter.newTransformerId}"
						id="newmeterparamtrafo" style="width:200px;">
						<f:selectItems
							value="#{topologyTransformer.allTransformerOptions}" />
					</rich:select>
					<rich:message for="newmeterparamtrafo" />

					<h:outputText value="Active" />
					<h:selectBooleanCheckbox id="newmeterparamactive"
						value="#{topologyMeter.newEntity.active}" />
					<rich:message for="newmeterparamactive" />

					<h:outputText value="Add Comments:" />
					<h:inputText readonly="false" style="width:200px;"
						id="newmeterparamcomment" value="#{topologyMeter.newComments}" />
					<rich:message for="newmeterparamcomment" />

					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<h:outputText value="&nbsp;" />
					<a4j:commandButton value="Add" action="#{topologyMeter.insert()}"
						render="metertable" execute="newMeterPane"
						oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('newMeterPane')}.hide();}" />
					<a4j:commandButton value="Cancel"
						onclick="#{rich:component('newMeterPane')}.hide(); cancelMeter(); return false;" />
				</h:panelGrid>
			</a4j:outputPanel>
		</rich:popupPanel>
	</h:form>
</ui:composition>
</html>