<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form>
		<rich:toolbar id="menu" height="26px" itemSeparator="disc">
			<rich:dropDownMenu mode="client" rendered="#{identity.loggedIn}"
				showDelay="60000"
				onclick="document.location.href='#{request.contextPath}/pages/protected/dashboard.jsf'">
				<f:facet name="label">
					<h:outputText style="color:black" value="Dashboard" />
				</f:facet>
			</rich:dropDownMenu>
			<rich:dropDownMenu mode="client" rendered="#{identity.loggedIn}"
				showDelay="60000"
				onclick="document.location.href='#{request.contextPath}/pages/protected/actionMessageLog.jsf'">
				<f:facet name="label">
					<h:outputText style="color:black" value="Events" />
				</f:facet>
			</rich:dropDownMenu>
			<rich:dropDownMenu mode="client" rendered="#{identity.loggedIn}">
				<f:facet name="label">
					<h:outputText style="color:black" value="Topology" />
				</f:facet>
				<rich:menuItem mode="client" rendered="#{identity.loggedIn}"
					onclick="document.location.href='#{request.contextPath}/pages/protected/topologyCable.jsf'">
					<h:outputText value="From Cable" />
				</rich:menuItem>
				<rich:menuItem mode="client" rendered="#{identity.loggedIn}"
					onclick="document.location.href='#{request.contextPath}/pages/protected/topologyMasterData.jsf'">
					<h:outputText value="Master Data" />
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu mode="client" rendered="#{identity.loggedIn}">
				<f:facet name="label">
					<h:outputText style="color:black" value="Messages" />
				</f:facet>
				<rich:menuItem mode="client"
					onclick="document.location.href='#{request.contextPath}/pages/protected/cspForecastMessages.jsf'">
					<h:outputText value="CSP Forecast" />
				</rich:menuItem>
				<rich:menuItem mode="client"
					onclick="document.location.href='#{request.contextPath}/pages/protected/cspAdjustmentMessages.jsf'">
					<h:outputText value="CSP Adjustment" />
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu mode="client" rendered="#{identity.loggedIn}">
				<f:facet name="label">
					<h:outputText style="color:black" value="Reports" />
				</f:facet>
				<rich:menuItem mode="client"
					onclick="document.location.href='#{request.contextPath}/pages/protected/reportCspUsageDeviations.jsf'">
					<h:outputText value="CSP Usage Deviations" />
				</rich:menuItem>
				<rich:menuItem mode="client"
					onclick="document.location.href='#{request.contextPath}/pages/protected/reportMeasurements.jsf'">
					<h:outputText value="Incomplete Measurements" />
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu mode="client" rendered="#{identity.loggedIn}">
				<f:facet name="label">
					<h:outputText style="color:black" value="Administration" />
				</f:facet>
				<rich:menuItem mode="client" rendered="#{identity.loggedIn}"
					onclick="document.location.href='#{request.contextPath}/pages/protected/configuration.jsf'">
					<h:outputText value="Configuration" />
				</rich:menuItem>
				<rich:menuItem mode="client" rendered="#{identity.loggedIn}"
					onclick="document.location.href='#{request.contextPath}/pages/protected/userMaintenance.jsf'">
					<h:outputText value="Users" />
				</rich:menuItem>
				<rich:menuItem mode="client" rendered="#{identity.loggedIn}"
					onclick="document.location.href='#{request.contextPath}/pages/protected/auditLog.jsf'">
					<h:outputText value="Audit Log" />
				</rich:menuItem>
			</rich:dropDownMenu>
		</rich:toolbar>
	</h:form>
</ui:composition>
</html>