<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<a4j:outputPanel ajaxRendered="true">
		<rich:popupPanel id="popupmessage"
			show="#{!empty facesContext.getMessageList('popupmessage')}"
			modal="true" autosized="true" resizeable="false">
			<f:facet name="header">
				<h:outputText value="" />
			</f:facet>
			<h:panelGrid columns="1">
				<rich:messages for="popupmessage" ajaxRendered="true" />
				<h:panelGroup style="display:block; text-align:center">
					<a4j:commandButton style="text-align:center" value="OK"
						onclick="#{rich:component('popupmessage')}.hide(); return false;" />
				</h:panelGroup>
			</h:panelGrid>
		</rich:popupPanel>
	</a4j:outputPanel>
</ui:composition>
</html>