<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<h:head>
	<title><ui:insert name="pageTitle">Page Title</ui:insert></title>
	<h:outputStylesheet name="css/general.css" />
</h:head>

<h:body bgcolor="#ffffff" styleClass="body">
	<ui:include src="/components/popupmessage.xhtml" />
	<table style="border: 1px solid #CAD6E0" align="center" cellpadding="0"
		cellspacing="0" border="0" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding: 5px;" valign="middle"
					width="100%">
					<h:graphicImage  height="40px"
						style="float:right;" url="#{resource['images/logo_enexis.png']}" />
					<h:graphicImage
						style="float:left;" url="#{resource['images/scip-logo.png']}"
						height="40px" />
				</td>
			</tr>
			<tr style="height: 26px;">
				<td align="center" style="padding: 2px 5px 2px 5px;" valign="middle"
					width="100%" bgcolor="#E4EBEB">
					<a4j:status startStyle="float:left; margin-right:5px;">
						<f:facet name="start">
							<h:graphicImage height="16" value="#{resource['images/activityindicator.gif']}" alt="ai" />
						</f:facet>
					</a4j:status>
					<a4j:status startStyle="float:left;" startText="Action in progress..."/>
					<h:outputText value=" Environment #{applicationGeneral.environment} - Version #{applicationGeneral.version}" style="float:right;" />
					<h:panelGroup rendered="#{identity.loggedIn}">
						<h:outputText  value=")&nbsp;-&nbsp;" style="float:right;" />
						<h:form id="logout">
							<h:commandLink value="logout" action="#{logoutAction.logout()}" styleClass="body" style="float:right;" />
						</h:form>
						<h:outputText  value="&nbsp;(" style="float:right;" />
						<h:form id="profile">
							<h:commandLink value="#{profileUser.user.firstName} #{profileUser.user.lastName}" action="/pages/protected/profileUser.xhtml" styleClass="body" style="float:right;" />
						</h:form>
						<h:outputText value="User&nbsp;" style="float:right;"/>
					</h:panelGroup>
				</td>
			</tr>
			<tr>
				<td class="header" width="100%"><ui:include
						src="/components/menu.xhtml" /></td>
			</tr>
			<tr>
				<td colspan="2" width="100%" style="padding-top: 4px; padding-left: 5px;"><rich:messages globalOnly="true">
					</rich:messages></td>
			</tr>
			<tr>
				<td width="100%" colspan="2">
					<table width="100%" align="left"
						cellpadding="0" cellspacing="0" border="0">
						<tbody>
							<tr>
								<td width="100%" style="padding: 5px"><ui:insert
										name="body">Page Body</ui:insert></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" valign="bottom" height="1" width="100%"></td>
			</tr>
		</tbody>
	</table>
</h:body>

</html>