<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Events</ui:define>
	<ui:define name="pageHeader">Events</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid id="mainGrid" columns="1" width="100%">
			<rich:panel header="Search">
				<h:form id="search">
					<h:panelGrid columns="3">
						<h:panelGrid columns="2">
							<h:outputText value="Action Event(s):" />
							<rich:pickList value="#{messageLog.selectedEvents}"
								listWidth="200px" sourceCaption="Available events"
								targetCaption="Selected events (none equals all)"
								listHeight="75px">
								<f:selectItems value="#{messageLog.events}" var="event"
									itemValue="#{event}" itemLabel="#{event}" />
							</rich:pickList>
							<h:outputText value="Date from:" />
							<h:panelGrid columns="1">
								<rich:calendar enableManualInput="true"
									value="#{messageLog.fromDate}" id="calendarFrom" popup="true"
									datePattern="yyyy-MM-dd HH:mm" required="true"
									requiredMessage="Date from is required"
									firstWeekDay="1" cellWidth="24px"
									cellHeight="22px" style="width:160px">
								</rich:calendar>
								<rich:message for="calendarFrom" ajaxRendered="true" />
							</h:panelGrid>
							<h:outputText value="Date to:" />
							<h:panelGrid columns="1">
								<rich:calendar enableManualInput="true"
									value="#{messageLog.toDate}" id="calendarTo" popup="true"
									datePattern="yyyy-MM-dd HH:mm" required="true"
									requiredMessage="Date to is required"
									firstWeekDay="1" cellWidth="24px"
									cellHeight="22px" style="width:160px">
								</rich:calendar>
								<rich:message for="calendarTo" ajaxRendered="true" />
							</h:panelGrid>
							<h:outputText value="Target type:" />
							<h:panelGrid columns="1">
								<rich:select value="#{messageLog.selectedTargetType}"
									id="selectTarget" enableManualInput="false" required="false">
									<f:selectItems value="#{messageLog.targetTypes}" var="target"
										itemValue="#{target}"
										itemLabel="#{messageLog.getShortTargetType(target)}" />
								</rich:select>
								<rich:message for="selectTarget" ajaxRendered="true" />
							</h:panelGrid>
							<h:outputText value="Target id:" />
							<h:panelGrid columns="1">
								<h:inputText value="#{messageLog.targetId}" id="targetId"
									style="width:250px;">
								</h:inputText>
							</h:panelGrid>
							<h:outputText value="Actor:" />
							<h:panelGrid columns="1">
								<rich:select value="#{messageLog.selectedActor}"
									id="selectActor" enableManualInput="false" required="false">
									<f:selectItems value="#{messageLog.actors}" var="actor"
										itemValue="#{actor}" itemLabel="#{actor}" />
								</rich:select>
								<rich:message for="selectActor" ajaxRendered="true" />
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid>&nbsp;</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputText value="Level(s):" />
							<rich:pickList value="#{messageLog.selectedLevels}"
								listWidth="200px" sourceCaption="Available levels"
								targetCaption="Selected levels (none equals all)"
								listHeight="75px">
								<f:selectItems value="#{messageLog.levels}" var="level"
									itemValue="#{level}" itemLabel="#{level}" />
							</rich:pickList>
							<h:outputText value="Error code(s):" />
							<rich:pickList value="#{messageLog.selectedExceptionTypes}"
								listWidth="200px" sourceCaption="Available error codes"
								targetCaption="Selected error codes (none equals all)"
								listHeight="75px">
								<f:selectItems value="#{messageLog.exceptionTypes}"
									var="exceptionType" itemValue="#{exceptionType}"
									itemLabel="#{exceptionType}" />
							</rich:pickList>
							<h:outputText value="Action Id:" />
							<h:panelGrid columns="1">
								<h:inputText value="#{messageLog.actionId}" id="actionId"
									style="width:250px;">
								</h:inputText>
							</h:panelGrid>
						</h:panelGrid>

						<a4j:commandButton actionListener="#{messageLog.search}"
							onbegin="if (#{rich:component('messagePane')}) #{rich:component('messagePane')}.hide();"
							value="Search" render="search table scroller res" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<rich:panel header="Messages">
				<h:form id="form">
					<h:panelGrid columns="1" style="text-align:center;">
						<rich:dataScroller id="scroller" for="table" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
						<rich:extendedDataTable value="#{messageLog.messages}"
							var="message" id="table" rows="10" selectionMode="single"
							selection="#{messageLog.selection}" >
							<a4j:ajax execute="@form" event="selectionchange"
								onbeforesubmit="if (#{rich:component('messagePane')}) #{rich:component('messagePane')}.hide();"
								listener="#{messageLog.selectionListener}" render=":res" />
							<rich:column width="55px">
								<f:facet name="header">
									<h:outputText value="level" />
								</f:facet>
								<h:outputText value="#{message.level}" />
							</rich:column>
							<rich:column width="115px">
								<f:facet name="header">
									<h:outputText value="date" />
								</f:facet>
								<h:outputText value="#{message.date}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="140px">
								<f:facet name="header">
									<h:outputText value="event" />
								</f:facet>
								<h:outputText value="#{message.action.type}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="actor" />
								</f:facet>
								<h:outputText value="#{message.action.actor}" />
							</rich:column>
							<rich:column width="370px">
								<f:facet name="header">
									<h:outputText value="message" />
								</f:facet>
								<div align="left">
									<h:outputText id="tableMessage" value="#{message.message}" />
								</div>
								<rich:tooltip mode="client" showDelay="300"
									target="tableMessage">
									<b>#{message.message}</b>
								</rich:tooltip>
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="target type (IN)" />
								</f:facet>
								<div align="left">
									<h:outputText
										value="#{messageLog.getTargetForMessage(message)}" />
								</div>
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="target id (IN)" />
								</f:facet>
								<div align="left">
									<h:outputText
										value="#{messageLog.getTargetIdForMessage(message)}" />
								</div>
							</rich:column>
							<rich:column width="220px">
								<f:facet name="header">
									<h:outputText value="event id" />
								</f:facet>
								<h:outputText value="#{message.action.id}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<a4j:outputPanel id="res">
				<rich:popupPanel header="Event messages and targets"
					id="messagePane" modal="false"
					rendered="#{not empty messageLog.selectedMessage}" show="true"
					domElementAttachment="body" autosized="true" resizeable="false">
					<h:form id="popup">
						<h:panelGrid columns="1" id="treeGrid">
							<rich:tree labelClass="eventTree" nodeClass="eventTree"
								styleClass="eventTree" handleClass="eventTree" id="tree"
								toggleType="client" var="item">
								<rich:treeModelAdaptor nodes="#{messageLog.treeActions}">
									<rich:treeNode iconExpanded="#{resource['images/action.png']}"
										iconCollapsed="#{resource['images/action.png']}"
										expanded="#{true}">
										<h:panelGrid cellpadding="0px" cellspacing="0px" columns="5">
											<h:panelGrid cellpadding="2px" columns="3">
												<h:outputText style="width:200px;" value="Event" />
												<h:outputText value=":" />
												<h:outputText style="font-weight: bold;"
													value="#{item.type}" />
											</h:panelGrid>
											<h:outputText value="&nbsp;" />
											<h:panelGrid cellpadding="2px" columns="3">
												<h:outputText value="Actor" />
												<h:outputText value=":" />
												<h:outputText style="font-weight: bold;"
													value="#{item.actor}" />
											</h:panelGrid>
											<h:outputText value="&nbsp;" />
											<h:panelGrid cellpadding="2px" columns="3">
												<h:outputText value="Id" />
												<h:outputText value=":" />
												<h:outputText style="font-weight: bold;" value="#{item.id}" />
											</h:panelGrid>
											<h:panelGrid cellpadding="2px" columns="3">
												<h:outputText value="Start" />
												<h:outputText value=":" />
												<h:outputText style="font-weight: bold;"
													value="#{item.start}">
													<f:convertDateTime type="both"
														pattern="dd-MM-yyyy HH:mm:ss" />
												</h:outputText>
											</h:panelGrid>
											<h:outputText value="&nbsp;" />
											<h:panelGrid cellpadding="2px" columns="3">
												<h:outputText value="End" />
												<h:outputText value=":" />
												<h:outputText style="font-weight: bold;" value="#{item.end}">
													<f:convertDateTime type="both"
														pattern="dd-MM-yyyy HH:mm:ss" />
												</h:outputText>
											</h:panelGrid>
										</h:panelGrid>
									</rich:treeNode>
									<rich:treeModelAdaptor nodes="#{item.targets}">
										<rich:treeNode
											iconLeaf="#{item.direction == 'IN' ? resource['images/in.png'] : resource['images/out.png']}">
											<h:panelGrid cellpadding="2px" columns="3">
												<h:outputText style="font-weight: bold;"
													value="#{messageLog.getShortTargetType(item.type)}" />
												<h:outputText value=":" />
												<h:outputText style="font-weight: bold;"
													value="#{messageLog.getShortTargetType(item.value)}" />
											</h:panelGrid>
										</rich:treeNode>
									</rich:treeModelAdaptor>
									<rich:treeModelAdaptor nodes="#{item.messages}">
										<rich:treeNode
											iconExpanded="#{item.level == 'ERROR' ? resource['images/error.png'] : item.level == 'WARN' ? resource['images/warn.png'] : resource['images/info.png']}"
											iconCollapsed="#{item.level == 'ERROR' ? resource['images/error.png'] : item.level == 'WARN' ? resource['images/warn.png'] : resource['images/info.png']}"
											expanded="#{true}">
											<h:panelGrid cellpadding="0px" cellspacing="0px" columns="1">
												<h:panelGrid cellpadding="2px" columns="5">
													<h:outputText style="font-weight: bold;"
														value="#{item.date}">
														<f:convertDateTime type="both"
															pattern="dd-MM-yyyy HH:mm:ss" />
													</h:outputText>
													<h:outputText value=":" />
													<h:outputText style="font-weight: bold;"
														value="#{item.exceptionType}" />
													<h:outputText value=":" />
													<h:outputText value="#{item.message}" />
												</h:panelGrid>
												<h:panelGrid
													rendered="#{item.exceptionType != 'NO_EXCEPTION'}"
													cellpadding="2px" columns="3">
													<h:outputText style="font-weight: bold;"
														value="Exception data:" />
													<h:outputText value="" />
													<h:outputText value="" />
													<h:outputText value="#{item.cause}" />
													<h:outputText value=":" />
													<h:outputText value="#{item.causeMessage}" />
													<h:outputText value="#{item.rootCause}" />
													<h:outputText value=":" />
													<h:outputText value="#{item.rootCauseMessage}" />
												</h:panelGrid>
											</h:panelGrid>
										</rich:treeNode>
										<rich:treeModelAdaptor nodes="#{item.messageTargets}">
											<rich:treeNode iconLeaf="#{resource['images/up.png']}">
												<h:panelGrid cellpadding="2px" columns="3">
													<h:outputText style="font-weight: bold;"
														value="#{messageLog.getShortTargetType(item.type)}" />
													<h:outputText value=":" />
													<h:outputText style="font-weight: bold;"
														value="#{messageLog.getShortTargetType(item.value)}" />
												</h:panelGrid>
											</rich:treeNode>
										</rich:treeModelAdaptor>
									</rich:treeModelAdaptor>
								</rich:treeModelAdaptor>
							</rich:tree>
							<h:outputText value="&nbsp;" />
							<a4j:commandButton value="Close"
								onclick="#{rich:component('messagePane')}.hide(); return false;" />
						</h:panelGrid>
					</h:form>
				</rich:popupPanel>
			</a4j:outputPanel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>