<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Audit Log</ui:define>
	<ui:define name="pageHeader">Audit Log</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid columns="1" width="100%">
			<rich:panel header="Search">
				<h:form id="search">
				
					<h:panelGrid columns="2">
					
						<h:outputText value="Date from:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{auditLog.fromDate}" id="calendarFrom" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date from is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarFrom" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Date to:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{auditLog.toDate}" id="calendarTo"
								popup="true" datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date to is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarTo" ajaxRendered="true" />
						</h:panelGrid>

						<h:outputText value="User:" />
						<h:panelGrid id="userpanel" columns="2">
							<rich:select id="selectUser" enableManualInput="true"
								required="false" value="#{auditLog.selectedUserId}">
								<f:selectItems value="#{auditLog.users}" var="user"
									itemValue="#{user.userId}"
									itemLabel="#{user.firstName} #{user.lastName}" />
								<a4j:ajax execute="@this" event="selectitem" render="userpanel entitypanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="userpanel entitypanel"
								rendered="#{not empty auditLog.selectedUserId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener
									target="#{auditLog.selectedUserId}" value="" />
							</a4j:commandLink>
						</h:panelGrid>

						<h:outputText value="Entity:" />
						<h:panelGrid id="entitypanel" columns="2">
							<rich:select id="selectEntity" enableManualInput="true"
								required="false" value="#{auditLog.selectedEntity}">
								<f:selectItems value="#{auditLog.entities}" var="entity"
									itemValue="#{entity}" 
									itemLabel="#{entity}" />
								<a4j:ajax execute="@this" event="selectitem" render="userpanel entitypanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="userpanel entitypanel"
								rendered="#{not empty auditLog.selectedEntity}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener
									target="#{auditLog.selectedEntity}" value="" />
							</a4j:commandLink>
						</h:panelGrid>

						<h:outputText value="" />
						<h:outputText value="" />
						
						<a4j:commandButton actionListener="#{auditLog.search}"
							value="Search" render="search logrecords" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Audit Log">
				<h:form id="logrecords">
					<h:panelGrid columns="1" style="text-align:center;">
					
						<rich:dataScroller id="logscroller" for="logtable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
							
						<rich:extendedDataTable value="#{auditLog.logitems}" var="item"
							id="logtable" rows="15" selectionMode="single"
							selection="#{auditLog.selectionLogItem}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{auditLog.selectionListenerLogItem}"
								render=":meters" />
							<rich:column  sortBy="#{item.addedAt}" sortOrder="descending" width="120px">
								<f:facet name="header">
									<h:outputText value="Timestamp" />
								</f:facet>
								<h:outputText value="#{item.addedAt}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="UserId" />
								</f:facet>
								<h:outputText value="#{item.userId}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Action" />
								</f:facet>
								<h:outputText value="#{auditLog.getDbActionName(item.dbAction)}" />
							</rich:column>
							<rich:column width="150px">
								<f:facet name="header">
									<h:outputText value="Entity" />
								</f:facet>
								<h:outputText value="#{item.tableName}" />
							</rich:column>
							<rich:column width="220px">
								<f:facet name="header">
									<h:outputText value="Record Key" />
								</f:facet>
								<h:outputText value="#{item.recordKey}" />
							</rich:column>
							<rich:column width="60px">
								<f:facet name="header">
									<h:outputText value="Inspect" />
								</f:facet>
								<a4j:commandLink styleClass="no-decor" render="inspectionPane"
									execute="@this" oncomplete="#{rich:component('inspectionPane')}.show()">
									<h:graphicImage value="#{resource['images/inspect.png']}"
										height="15px" alt="inspect" />
									<f:setPropertyActionListener
										target="#{auditLog.inspectedLogItem}"
										value="#{item}" />
								</a4j:commandLink>
							</rich:column>
						</rich:extendedDataTable>

						<rich:popupPanel header="Record Detail" id="inspectionPane"
							domElementAttachment="body" autosized="true">
							<h:panelGrid columns="1">
								<rich:panel header="Old Value">
									<h:outputText value="#{auditLog.inspectedLogItem.oldValues}" style="white-space: pre" />
								</rich:panel>
								<h:outputText value="" />
								<rich:panel header="New Value">
									<h:outputText value="#{auditLog.inspectedLogItem.newValues}" style="white-space: pre" />
								</rich:panel>
								<h:outputText value="" />
								<rich:panel header="Comment">
									<h:outputText value="#{auditLog.inspectedLogItem.comments}" />
								</rich:panel>
								<h:outputText value="" />		
								<a4j:commandButton value="Close"
									onclick="#{rich:component('inspectionPane')}.hide(); return false;" />
							</h:panelGrid>
						</rich:popupPanel>

					</h:panelGrid>

				</h:form>
			</rich:panel>
			
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>