<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Configurations</ui:define>
	<ui:define name="pageHeader">Configurations</ui:define>
	<ui:define name="body">
		<h:form id="formConfig">
			<h:panelGrid columns="1" width="100%">
				<rich:panel header="Actions"
					rendered="#{authorizer.isAuthorized('admin')}">
					<h:panelGrid columns="3">
						<a4j:region>
							<a4j:commandButton
								actionListener="#{configuration.resetTimers()}"
								value="Reset timers" />
						</a4j:region>
					</h:panelGrid>
				</rich:panel>
				<rich:panel header="Configurations" id="configs">
					<h:panelGrid columns="1">
						<rich:extendedDataTable value="#{configuration.configs}"
							var="config" id="configsTable" selectionMode="single"
							style="height:500px;">
							<rich:column width="300px">
								<f:facet name="header">
									<h:outputText value="name" />
								</f:facet>
								<h:outputText value="#{config.name}" />
							</rich:column>
							<rich:column width="300px">
								<f:facet name="header">
									<h:outputText value="value" />
								</f:facet>
								<h:outputText value="#{config.value}" />
							</rich:column>
							<rich:column width="50px"
								rendered="#{authorizer.isAuthorized('admin')}">
								<f:facet name="header">
									<h:outputText value="edit" />
								</f:facet>
								<a4j:commandLink styleClass="no-decor" render="editGrid"
									rendered="#{config.changeable}" execute="@this"
									oncomplete="#{rich:component('editPane')}.show()">
									<h:graphicImage value="#{resource['images/edit.png']}" height="15px"
										alt="edit" />
									<f:setPropertyActionListener
										target="#{configuration.editedConfig}" value="#{config}" />
								</a4j:commandLink>
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>

				<rich:popupPanel header="Edit Parameter" id="editPane"
					domElementAttachment="form" autosized="true" resizeable="false">
					<h:panelGrid columns="2" id="editGrid">
					
						<h:outputText value="Name" />
						<h:outputText value="#{configuration.editedConfig.name}" />
						
						<h:outputText value="Value" />
						<h:inputText value="#{configuration.editedConfig.value}"
							id="paramvalue" label="Value field" style="width:200px;">
						</h:inputText>
						
						<h:outputText value="Change Comments:" />
						<h:inputText readonly="false" style="width:200px;"
							id="changeconfigcomment" value="#{configuration.newComments}" />
						<h:outputText value="" />
						<rich:message for="changeconfigcomment" />
							
						<h:outputText value="" />
						<h:outputText value="" />
						
						<a4j:commandButton value="Save" action="#{configuration.save}"
							render="configs" execute="editPane"
							oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editPane')}.hide();}" />
						<a4j:commandButton value="Cancel"
							onclick="#{rich:component('editPane')}.hide(); return false;" />
					</h:panelGrid>

				</rich:popupPanel>

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>