<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">CSP Adjustment Messages</ui:define>
	<ui:define name="pageHeader">CSP Adjustment Messages</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid columns="1" width="100%">
			<rich:panel header="Search">
				<h:form id="search">
					<h:panelGrid columns="2">
					
						<h:outputText value="Date from:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{cspAdjustmentMessages.fromDate}" id="calendarFrom" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date from is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarFrom" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Date to:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{cspAdjustmentMessages.toDate}" id="calendarTo" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date to is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarTo" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Cable:" />
						<h:panelGrid id="cablepanel" columns="3">
							<rich:select id="selectCable" enableManualInput="true"
								required="true" requiredMessage="Cable is required"
								valueChangeListener="#{cspAdjustmentMessages.changeCable}" value="#{cspAdjustmentMessages.selCableId}">
								<f:selectItems value="#{cspAdjustmentMessages.cables}" var="cable"
									itemValue="#{cable.cableId}"
									itemLabel="#{cable.cableId} (#{cable.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem"
									render="cablepanel csppanel admessages adjustments" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="cablepanel csppanel" 
								rendered="#{not empty cspAdjustmentMessages.selCableId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" alt="clear" />
								<f:setPropertyActionListener target="#{cspAdjustmentMessages.selCableId}" value="" />
							</a4j:commandLink>
							<rich:message for="selectCable" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="CSP:" />
						<h:panelGrid id="csppanel" columns="3">
							<rich:select id="selectCsp" enableManualInput="true"
								required="false" requiredMessage="CSP is required"
								value="#{cspAdjustmentMessages.selCspId}">
								<f:selectItems value="#{cspAdjustmentMessages.csps}" var="csp"
									itemValue="#{csp.ean13}"
									itemLabel="#{csp.name} (#{csp.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem"
									render="cablepanel csppanel fcmessages forecasts" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="cablepanel csppanel" 
								rendered="#{not empty cspAdjustmentMessages.selCspId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" alt="clear" />
								<f:setPropertyActionListener target="#{cspAdjustmentMessages.selCspId}" value="" />
							</a4j:commandLink>
							<rich:message for="selectCsp" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="" />
						<h:outputText value="" />
						<a4j:commandButton actionListener="#{cspAdjustmentMessages.search}"
							value="Search" render="search admessages adjustments" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Adjustment Messages">
				<h:form id="admessages">
					<h:panelGrid columns="1" style="text-align:center;">
						<rich:dataScroller id="admscroller" for="admtable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
						<rich:extendedDataTable value="#{cspAdjustmentMessages.cspAdMsgs}" var="admsg"
							id="admtable" rows="10" selectionMode="single"
							selection="#{cspAdjustmentMessages.selectionAdMsg}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{cspAdjustmentMessages.selectionListenerAdMsg}"
								render=":adjustments" />
							<rich:column sortBy="#{admsg.dateTime}" sortOrder="descending" width="120px">
								<f:facet name="header">
									<h:outputText value="Timestamp" />
								</f:facet>
								<h:outputText value="#{admsg.dateTime}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="CSP" />
								</f:facet>
								<h:outputText value="#{admsg.csp}" />
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="DSO" />
								</f:facet>
								<h:outputText value="#{admsg.dso}" />
							</rich:column>
							<rich:column width="70px">
								<f:facet name="header">
									<h:outputText value="Sent" />
								</f:facet>
								<h:outputText value="#{admsg.successful ? 'Y' : 'N'}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Adjustments">
				<h:form id="adjustments">
					<h:panelGrid columns="1" style="text-align:center;">
					
						<rich:dataScroller id="adscroller" for="adtable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
						<rich:extendedDataTable
							value="#{cspAdjustmentMessages.selectedAdMsg.cspAdjustments}" var="admnt"
							id="adtable" rows="10" selectionMode="single">
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="Timestamp" />
								</f:facet>
								<h:outputText value="#{admnt.cspAdjustmentMessage.dateTime}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="Cable" />
								</f:facet>
								<h:outputText value="#{admnt.cableCsp.cable.cableId}" />
							</rich:column>
							<rich:column width="70px">
								<f:facet name="header">
									<h:outputText value="Inspect" />
								</f:facet>
								<a4j:commandLink styleClass="no-decor" render="inspectionPane"
									execute="@this"
									oncomplete="#{rich:component('inspectionPane')}.show()">
									<h:graphicImage value="#{resource['images/inspect.png']}"
										alt="inspect" />
									<f:setPropertyActionListener
										target="#{cspAdjustmentMessages.inspectedCspAdjustment}" value="#{admnt}" />
								</a4j:commandLink>
							</rich:column>
						</rich:extendedDataTable>
						
						<rich:popupPanel
							header="Adjustment Values" autosized="true"
							id="inspectionPane" domElementAttachment="body" resizeable="false">
							<h:panelGrid columns="1" style="text-align:center;">
								<rich:dataScroller id="advscroller" for="advtable" maxPages="4"
									renderIfSinglePage="false" style="text-align:center;"
									fastStep="5" stepControls="show" boundaryControls="show"
									fastControls="hide" />
								<rich:extendedDataTable
									value="#{cspAdjustmentMessages.inspectedCspAdjustment.cspAdjustmentValues}"
									var="adval" rowKeyVar="advalindex" id="advtable" rows="12" selectionMode="single">
									<rich:column width="120px">
										<f:facet name="header">
											<h:outputText value="Block" />
										</f:facet>
										<h:outputText
											value="#{cspAdjustmentMessages.getStartDateOfBlock(adval)}">
											<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm" />
										</h:outputText>
									</rich:column>
									<rich:column width="70px">
										<f:facet name="header">
											<h:outputText value="Extra" />
										</f:facet>
										<h:outputText value="#{adval.extraCapacity ? 'Y' : 'N'}" />
									</rich:column>
									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="Forecast" />
										</f:facet>
										<h:outputText value="#{adval.cspForecastValue.assigned}" />
									</rich:column>
									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="Remaining" />
										</f:facet>
										<h:outputText value="#{adval.cspForecastValue.remaining}" />
									</rich:column>
									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="Requested" />
										</f:facet>
										<h:outputText value="#{adval.requested}" />
									</rich:column>
									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="Assigned" />
										</f:facet>
										<h:outputText value="#{adval.assigned}" />
									</rich:column>
								</rich:extendedDataTable>
								<h:outputText value="" />
								<h:outputText value="" />
								<a4j:commandButton value="Close"
									onclick="#{rich:component('inspectionPane')}.hide(); return false;" />
							</h:panelGrid>
						</rich:popupPanel>
						
					</h:panelGrid>
				</h:form>
			</rich:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>