<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">CSP Forecast Messages</ui:define>
	<ui:define name="pageHeader">CSP Forecast Messages</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid columns="1" width="100%">
			<rich:panel header="Search">
				<h:form id="search">
					<h:panelGrid columns="2">
					
						<h:outputText value="Date from:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{cspForecastMessages.fromDate}" id="calendarFrom" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date from is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarFrom" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Date to:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{cspForecastMessages.toDate}" id="calendarTo" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date to is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarTo" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="CSP:" />
						<h:panelGrid id="csppanel" columns="3">
							<rich:select id="selectCsp" enableManualInput="true"
								required="true" requiredMessage="CSP is required"
								valueChangeListener="#{cspForecastMessages.changeCsp}" value="#{cspForecastMessages.selCspId}">
								<f:selectItems value="#{cspForecastMessages.csps}" var="csp"
									itemValue="#{csp.ean13}"
									itemLabel="#{csp.name} (#{csp.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem"
									render="csppanel cablepanel fcmessages forecasts" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="csppanel cablepanel" 
								rendered="#{not empty cspForecastMessages.selCspId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" alt="clear" />
								<f:setPropertyActionListener target="#{cspForecastMessages.selCspId}" value="" />
							</a4j:commandLink>
							<rich:message for="selectCsp" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Cable:" />
						<h:panelGrid id="cablepanel" columns="3">
							<rich:select id="selectCable" enableManualInput="true"
								required="true" requiredMessage="Cable is required"
								valueChangeListener="#{cspForecastMessages.changeCable}" value="#{cspForecastMessages.selCableId}">
								<f:selectItems value="#{cspForecastMessages.cables}" var="cable"
									itemValue="#{cable.cableId}"
									itemLabel="#{cable.cableId} (#{cable.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem"
									render="csppanel cablepanel fcmessages forecasts" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="csppanel cablepanel" 
								rendered="#{not empty cspForecastMessages.selCableId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" alt="clear" />
								<f:setPropertyActionListener target="#{cspForecastMessages.selCableId}" value="" />
							</a4j:commandLink>
							<rich:message for="selectCable" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="" />
						<h:outputText value="" />
						<a4j:commandButton actionListener="#{cspForecastMessages.search}"
							value="Search" render="search fcmessages forecasts" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Forecast Messages">
				<h:form id="fcmessages">
					<h:panelGrid columns="1" style="text-align:center;">
						<rich:dataScroller id="fcmscroller" for="fcmtable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
						<rich:extendedDataTable value="#{cspForecastMessages.cspFcMsgs}" var="fcmsg"
							id="fcmtable" rows="10" selectionMode="single"
							selection="#{cspForecastMessages.selectionFcMsg}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{cspForecastMessages.selectionListenerFcMsg}"
								render=":forecasts" />
							<rich:column sortBy="#{fcmsg.dateTime}" sortOrder="descending" width="120px">
								<f:facet name="header">
									<h:outputText value="Timestamp" />
								</f:facet>
								<h:outputText value="#{fcmsg.dateTime}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="CSP" />
								</f:facet>
								<h:outputText value="#{fcmsg.csp}" />
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="DSO" />
								</f:facet>
								<h:outputText value="#{fcmsg.dso}" />
							</rich:column>
							<rich:column width="70px">
								<f:facet name="header">
									<h:outputText value="Sent" />
								</f:facet>
								<h:outputText value="#{fcmsg.successful ? 'Y' : 'N'}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Forecasts">
				<h:form id="forecasts">
					<h:panelGrid columns="1" style="text-align:center;">
					
						<rich:dataScroller id="fcscroller" for="fctable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
						<rich:extendedDataTable
							value="#{cspForecastMessages.selectedFcMsg.cspForecasts}" var="fcast"
							id="fctable" rows="10" selectionMode="single">
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="Calculated" />
								</f:facet>
								<h:outputText value="#{fcast.calculatedAt}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="310px">
								<f:facet name="header">
									<h:outputText value="Cable Forecast" />
								</f:facet>
								<h:outputText value="#{fcast.cableForecast.id}" />
							</rich:column>
							<rich:column width="60px">
								<f:facet name="header">
									<h:outputText value="Blocks" />
								</f:facet>
								<h:outputText value="#{fcast.numberOfBlocks}" />
							</rich:column>
							<rich:column width="60px">
								<f:facet name="header">
									<h:outputText value="Inspect" />
								</f:facet>
								<a4j:commandLink styleClass="no-decor" render="inspectionPane"
									rendered="#{fcast.numberOfBlocks > 0}" execute="@this"
									oncomplete="#{rich:component('inspectionPane')}.show()">
									<h:graphicImage value="#{resource['images/inspect.png']}"
										alt="inspect" />
									<f:setPropertyActionListener
										target="#{cspForecastMessages.inspectedForecast}" value="#{fcast}" />
								</a4j:commandLink>
							</rich:column>
						</rich:extendedDataTable>
						
						<rich:popupPanel
							header="CSP Forecast Values" 
							id="inspectionPane" domElementAttachment="body" width="410" 
							height="#{(empty cspForecastMessages.inspectedRestBlock) ? 390 : 430}" resizeable="true">
							<h:panelGrid columns="1" style="text-align:center;">
								<rich:dataScroller id="fcvscroller" for="fcvtable" maxPages="4"
									renderIfSinglePage="false" style="text-align:center;"
									fastStep="5" stepControls="show" boundaryControls="show"
									fastControls="hide" />
								<rich:extendedDataTable
									value="#{cspForecastMessages.inspectedCspForecast.cspForecastValues}"
									var="fcval" rowKeyVar="fcvalindex" id="fcvtable" rows="12" selectionMode="single">
									<rich:column width="120px">
										<f:facet name="header">
											<h:outputText value="Block" />
										</f:facet>
										<h:outputText
											value="#{cspForecastMessages.getStartDateOfBlock(fcval.cableForecastOutput)}">
											<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm" />
										</h:outputText>
									</rich:column>
									<rich:column width="60px">
										<f:facet name="header">
											<h:outputText value="To CSP" />
										</f:facet>
										<h:outputText
											value="#{(fcvalindex lt cspForecastMessages.inspectedCspForecast.numberOfBlocks) ? 'Y' : 'N'}" />
									</rich:column>
									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="Assigned" />
										</f:facet>
										<h:outputText value="#{fcval.assigned}" />
									</rich:column>
									<rich:column width="100px">
										<f:facet name="header">
											<h:outputText value="Remaining" />
										</f:facet>
										<h:outputText value="#{fcval.remaining}" />
									</rich:column>
								</rich:extendedDataTable>
								<h:outputText value="" />
								<rich:panel rendered="#{not empty cspForecastMessages.inspectedRestBlock}">
									<h:outputText value="Assigned in rest block: #{cspForecastMessages.inspectedRestBlock.assigned}" />
									<h:outputText value=", remaining: #{cspForecastMessages.inspectedRestBlock.remaining}" />
								</rich:panel>
								<h:outputText value="" />
								<a4j:commandButton value="Close"
									onclick="#{rich:component('inspectionPane')}.hide(); return false;" />
							</h:panelGrid>
						</rich:popupPanel>
						
					</h:panelGrid>
				</h:form>
			</rich:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>