<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Dashboard</ui:define>
	<ui:define name="pageHeader">Dashboard</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid id="mainGrid" columns="1" width="100%">
			<rich:panel header="Dashboard">
				<h:panelGrid id="dashboardAction" columns="1">
					<a4j:commandLink actionListener="#{dashboard.refresh()}"
						execute="@this" render="@this" styleClass="a4j-commandLink">
						<h:graphicImage value="#{resource['images/reload.png']}"
							height="14px" alt="refresh"
							style="vertical-align: middle; margin-right: 5px;" />
						<h:outputText value="Refresh all! (Last complete refresh: "
							style="vertical-align: middle;" />
						<h:outputText value="#{dashboard.lastRefresh}"
							style="vertical-align: middle;">
							<f:convertDateTime type="both" timeZone="CET"
								pattern="dd-MM-yyyy HH:mm:ss" />
						</h:outputText>
						<h:outputText value=")" style="vertical-align: middle;" />
					</a4j:commandLink>
				</h:panelGrid>
				<h:panelGrid id="partsGrid" columns="3"
					columnClasses="dashboardColumn,dashboardColumn,dashboardColumn"
					width="100%">
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/lastOutboundForecastMessageSuccessPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include src="/components/dashboard/lastHeartbeatPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include src="/components/dashboard/eventErrorsPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/scLastForecastInputPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include src="/components/dashboard/connectivityPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/incompleteMeasurementsPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/suLastForecastInputPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/lastOutboundLocMeasurementMessageSuccessPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/cspUsageDeviationsPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/performanceEventsPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include
							src="/components/dashboard/performanceTimersPart.xhtml" />
					</h:panelGroup>
					<h:panelGroup>
						<ui:include src="/components/dashboard/miscellaneousPart.xhtml" />
					</h:panelGroup>
				</h:panelGrid>
			</rich:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>