<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Export Measurements</ui:define>
	<ui:define name="body">
		<h:panelGrid columns="1" width="100%">
			<rich:panel
				header="Export measurements for #{topology.selectedCable.cableId}">
				<h:form id="search">
					<h:panelGrid columns="3">
						<h:outputText value="Date from:" />
						<rich:calendar enableManualInput="true"
							value="#{exportMeasurements.fromDate}" id="calendarFrom"
							popup="true" datePattern="yyyy-MM-dd HH:mm" required="true"
							requiredMessage="Date from is required"
							firstWeekDay="1" cellWidth="24px"
							cellHeight="22px" style="width:200px">
						</rich:calendar>
						<rich:message for="calendarFrom" ajaxRendered="true" />
						<h:outputText value="Date to:" />
						<rich:calendar enableManualInput="true"
							value="#{exportMeasurements.toDate}" id="calendarTo" popup="true"
							datePattern="yyyy-MM-dd HH:mm" required="true"
							requiredMessage="Date to is required"
							firstWeekDay="1" cellWidth="24px"
							cellHeight="22px" style="width:200px">
						</rich:calendar>
						<rich:message for="calendarTo" ajaxRendered="true" />
						<h:commandButton actionListener="#{exportMeasurements.export()}"
							value="Export" />
						<h:commandButton action="#{exportMeasurements.back()}"
							value="Back" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>