<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Forecast</ui:define>
	<ui:define name="body">
		<h:panelGrid columns="1" width="100%">
			<rich:panel
				header="Search forecasts for #{topology.selectedCable.cableId}">
				<h:form id="search">
					<h:panelGrid columns="3">
						<h:outputText value="Date from:" />
						<rich:calendar enableManualInput="true"
							value="#{forecastChart.fromDate}" id="calendarFrom" popup="true"
							datePattern="yyyy-MM-dd HH:mm" required="true"
							requiredMessage="Date from is required"
							firstWeekDay="1" cellWidth="24px"
							cellHeight="22px" style="width:200px">
						</rich:calendar>
						<rich:message for="calendarFrom" ajaxRendered="true" />
						<h:outputText value="Date to:" />
						<rich:calendar enableManualInput="true"
							value="#{forecastChart.toDate}" id="calendarTo" popup="true"
							datePattern="yyyy-MM-dd HH:mm" required="true"
							requiredMessage="Date to is required"
							firstWeekDay="1" cellWidth="24px"
							cellHeight="22px" style="width:200px">
						</rich:calendar>
						<rich:message for="calendarTo" ajaxRendered="true" />
						<a4j:commandButton actionListener="#{forecastChart.search}"
							value="Search" render="search table scroller chart" />
						<h:commandButton action="#{forecastChart.back()}"
							value="Back" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<rich:panel header="Forecasts">
				<h:form id="form">
					<h:panelGrid columns="1" style="text-align:center;">
						<rich:dataScroller id="scroller" for="table" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
						<rich:extendedDataTable value="#{forecastChart.cableForecasts}"
							var="cf" id="table" rows="10" selectionMode="single"
							selection="#{forecastChart.selection}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{forecastChart.selectionListener}" render=":chart" />
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="date" />
								</f:facet>
								<h:outputText value="#{cf.datetime}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="fixed" />
								</f:facet>
								<h:outputText value="#{cf.fixed}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="success" />
								</f:facet>
								<h:outputText value="#{cf.successful}" />
							</rich:column>
							<rich:column width="400px">
								<f:facet name="header">
									<h:outputText value="id" />
								</f:facet>
								<h:outputText value="#{cf.id}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<a4j:outputPanel id="chart">
				<rich:panel header="Forecasts" rendered="#{not empty forecastChart.selectedCableForecast}">
					<a4j:mediaOutput element="img" mimeType="image/png"
						value="#{forecastChart.selectedCableForecast.id}" createContent="#{forecastChart.paint}"
						cacheable="true" session="true" />
				</rich:panel>
			</a4j:outputPanel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>