<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">User profile</ui:define>
	<ui:define name="pageHeader">User profile</ui:define>
	<ui:define name="body">
		<rich:panel header="Edit profile">
			<h:panelGrid columns="3" columnClasses="panelgrid-column-align-top">
				<h:form id="profileUserForm" style="height: 100%">
					<rich:panel header="User">
						<h:panelGrid columns="3">
							<h:outputText value="User id:"
								style="width: 120px!important; display:block!important;" />
							<h:outputText value="#{profileUser.user.userId}" />
							<h:outputText />

							<h:outputText value="Roles:" />
							<h:outputText value="#{profileUser.user.roles}" />
							<h:outputText />

							<h:outputText value="First name:" />
							<h:inputText id="firstName" style="width:300px;"
								value="#{profileUser.user.firstName}" required="true"
								requiredMessage="First name is required" />
							<rich:message for="firstName" ajaxRendered="true" />

							<h:outputText value="Last name:" />
							<h:inputText id="lastName" style="width:300px;"
								value="#{profileUser.user.lastName}" required="true"
								requiredMessage="Last name is required" />
							<rich:message for="lastName" ajaxRendered="true" />

							<h:outputText value="Email:" />
							<h:inputText id="email" style="width:300px;"
								value="#{profileUser.user.email}" required="true"
								requiredMessage="Email is required" />
							<rich:message for="email" ajaxRendered="true" />

							<h:outputText value="Do receive email?" />
							<h:selectBooleanCheckbox value="#{profileUser.user.receiveEmail}" />
							<h:outputText />
						</h:panelGrid>
						<h:panelGrid columns="1">
							<h:outputText value="Password change is not required!" />
						</h:panelGrid>
						<h:panelGrid columns="3">
							<h:outputText value="Password"
								style="width: 120px!important; display:block!important;" />
							<h:inputSecret id="password" style="width:300px;"
								value="#{profileUser.password}" />
							<rich:message for="password" />

							<h:outputText value="Password (confirm):" />
							<h:inputSecret id="passwordConfirm" style="width:300px;"
								value="#{profileUser.passwordConfirm}" />
							<rich:message for="passwordConfirm" />
						</h:panelGrid>
						<br />
						<h:panelGrid columns="2">
							<a4j:commandButton actionListener="#{profileUser.save}"
								value="Save" render="profileUserForm" />
							<a4j:region>
								<a4j:commandButton actionListener="#{profileUser.reset}"
									value="Cancel" render="profileUserForm" />
							</a4j:region>
						</h:panelGrid>
					</rich:panel>
				</h:form>
				<h:outputText value="" style="margin-right: 10px; margin-top: 10px;" />
				<rich:panel header="Notification settings">
					<h:panelGrid columns="1" columnClasses="panelgrid-column-align-top">
						<h:form id="notificationsForm">
							<rich:extendedDataTable value="#{profileUser.user.notifications}"
								var="notification" id="notificationtable" selectionMode="none">
								<rich:column width="250px">
									<f:facet name="header">
										<h:outputText value="event" />
									</f:facet>
									<h:outputText value="#{notification.event}" />
								</rich:column>
								<rich:column width="100px">
									<f:facet name="header">
										<h:outputText value="interval" />
									</f:facet>
									<h:outputText value="#{notification.interval}" />
								</rich:column>
								<rich:column width="100px">
									<f:facet name="header">
										<h:outputText value="level" />
									</f:facet>
									<h:outputText value="#{notification.level}" />
								</rich:column>
								<rich:column width="55px" style="text-align: center;">
									<f:facet name="header">
										<h:outputText value="enabled" />
									</f:facet>
									<a4j:commandLink styleClass="no-decor"
										render="notificationtable"
										actionListener="#{profileUser.toggleActive(notification)}">
										<h:graphicImage
											value="#{notification.enabled ? resource['images/action.png'] : resource['images/no-action.png']}"
											alt="toggle" height="16" />
									</a4j:commandLink>
								</rich:column>
								<rich:column width="55px" style="text-align: center;">
									<f:facet name="header">
										<h:outputText value="delete" />
									</f:facet>
									<a4j:commandLink styleClass="no-decor"
										render="deleteNotificationGrid notificationtable"
										execute="@this"
										oncomplete="#{rich:component('deleteNotificationPane')}.show()">
										<h:graphicImage value="#{resource['images/delete.png']}"
											alt="delete" height="16" />
										<f:setPropertyActionListener
											target="#{profileUser.toDeleteNotification}"
											value="#{notification}" />
									</a4j:commandLink>
								</rich:column>
							</rich:extendedDataTable>
						</h:form>
						<h:outputText value=""
							style="margin-right: 10px; margin-top: 10px;" />
						<rich:panel header="Add notification">
							<h:form id="addNotificationForm">
								<h:panelGrid columns="3" id="newNotificationGrid">

									<h:outputText value="Event" />
									<rich:select value="#{profileUser.newNotification.event}"
										id="newnotificationevent"
										converter="actionEventConverter">
										<f:selectItems value="#{profileUser.actionEventSelectItems}" />
									</rich:select>
									<rich:message for="newnotificationevent" />

									<h:outputText value="Interval" />
									<rich:select value="#{profileUser.newNotification.interval}"
										id="newnotificationinterval"
										converter="notificationIntervalConverter">
										<f:selectItems
											value="#{profileUser.notificationIntervalSelectItems}" />
									</rich:select>
									<rich:message for="newnotificationinterval" />

									<h:outputText value="Level" />
									<rich:select value="#{profileUser.newNotification.level}"
										id="newnotificationlevel"
										converter="messageLevelConverter">
										<f:selectItems value="#{profileUser.messageLevelSelectItems}" />
									</rich:select>
									<rich:message for="newnotificationlevel" />

									<h:outputText value="Enabled" />
									<h:selectBooleanCheckbox id="newnotificationenabled"
										value="#{profileUser.newNotification.enabled}" />
									<rich:message for="newnotificationenabled" />

									<h:outputText value="&nbsp;" />
									<h:outputText value="&nbsp;" />
									<h:outputText value="&nbsp;" />

									<a4j:commandButton value="Add"
										actionListener="#{profileUser.insertNewNotification()}"
										render="notificationtable newNotificationGrid" />
									<a4j:region>
										<a4j:commandButton value="Reset" render="newNotificationGrid"
											actionListener="#{profileUser.resetNewNotification()}" />
									</a4j:region>
								</h:panelGrid>
							</h:form>
						</rich:panel>
					</h:panelGrid>
				</rich:panel>
			</h:panelGrid>
		</rich:panel>
		<ui:include src="/components/user/popupdeletenotification.xhtml" />
	</ui:define>
</ui:composition>
</html>