<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Measurements</ui:define>
	<ui:define name="pageHeader">Measurements</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid columns="1" width="100%">
			<rich:panel header="Search Measurements">
				<h:form id="search">
				
					<h:panelGrid columns="2">
					
						<h:outputText value="Date from:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{reportMeasurements.fromDate}" id="calendarFrom" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date from is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarFrom" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Date to:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{reportMeasurements.toDate}" id="calendarTo"
								popup="true" datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date to is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarTo" ajaxRendered="true" />
						</h:panelGrid>

						<h:outputText value="Provider:" />
						<h:panelGrid id="mppanel" columns="2">
							<rich:select id="selectMP" enableManualInput="true"
								required="false" value="#{reportMeasurements.selectedMPId}">
								<f:selectItems value="#{reportMeasurements.MPs}" var="mp"
									itemValue="#{mp.id}"
									itemLabel="#{mp.id} (#{mp.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem" render="mppanel cablepanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="mppanel cablepanel"
								rendered="#{not empty reportMeasurements.selectedMPId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener
									target="#{reportMeasurements.selectedMPId}" value="" />
							</a4j:commandLink>
						</h:panelGrid>

						<h:outputText value="Cable:" />
						<h:panelGrid id="cablepanel" columns="2">
							<rich:select id="selectCable" enableManualInput="true"
								required="false" value="#{reportMeasurements.selectedCableId}">
								<f:selectItems value="#{reportMeasurements.cables}" var="cable"
									itemValue="#{cable.cableId}"
									itemLabel="#{cable.cableId} (TrafoId: #{cable.transformer.trafoId})" />
								<a4j:ajax execute="@this" event="selectitem" render="mppanel cablepanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="mppanel cablepanel"
								rendered="#{not empty reportMeasurements.selectedCableId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener
									target="#{reportMeasurements.selectedCableId}" value="" />
							</a4j:commandLink>
						</h:panelGrid>

						<h:outputText value="" />
						<h:outputText value="" />
						
						<a4j:commandButton actionListener="#{reportMeasurements.search}"
							value="Search" render="search measurements meters" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Incomplete Measurements">
				<h:form id="measurements">
					<h:panelGrid columns="1" style="text-align:center;">
					
						<rich:dataScroller id="meascroller" for="meatable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
							
						<rich:extendedDataTable value="#{reportMeasurements.measurements}" var="mea"
							id="meatable" rows="10" selectionMode="single"
							selection="#{reportMeasurements.selectionMeasurement}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{reportMeasurements.selectionListenerMeasurement}"
								render=":meters" />
							<rich:column  sortBy="#{mea.date}" sortOrder="descending" width="120px">
								<f:facet name="header">
									<h:outputText value="Timestamp" />
								</f:facet>
								<h:outputText value="#{mea.date}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="ID" />
								</f:facet>
								<h:outputText value="#{mea.id}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Provider" />
								</f:facet>
								<h:outputText value="#{mea.cable.transformer.measurementProvider.id}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Cable" />
								</f:facet>
								<h:outputText value="#{mea.cable.cableId}" />
							</rich:column>
<!-- 							<rich:column width="70px"> -->
<!-- 								<f:facet name="header"> -->
<!-- 									<h:outputText value="Complete" /> -->
<!-- 								</f:facet> -->
<!-- 								<h:outputText value="#{mea.complete ? 'Y' : 'N'}" /> -->
<!-- 							</rich:column> -->
						</rich:extendedDataTable>

					</h:panelGrid>
					
					<h:commandButton actionListener="#{reportMeasurements.export}"
							value="Export" rendered="#{not empty reportMeasurements.measurements}" />
				</h:form>
			</rich:panel>
			
			<rich:panel header="Meters">
				<h:form id="meters">
					<h:panelGrid columns="1" style="text-align:center;">
					
						<rich:dataScroller id="mtrscroller" for="mtrtable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
							
						<rich:extendedDataTable
							value="#{reportMeasurements.selectedMeasurement.cable.transformer.meters}" var="meter"
							id="mtrtable" rows="10" selectionMode="single">
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="Meter" />
								</f:facet>
								<h:outputText value="#{meter.meterId}" />
							</rich:column>
							<rich:column width="300px">
								<f:facet name="header">
									<h:outputText value="Name" />
								</f:facet>
								<h:outputText value="#{meter.meterName}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Measures" />
								</f:facet>
								<h:outputText value="#{meter.measures}" />
							</rich:column>
							<rich:column width="70px">
								<f:facet name="header">
									<h:outputText value="Received" />
								</f:facet>
								<h:outputText value="#{reportMeasurements.hasMeter(reportMeasurements.selectedMeasurement,meter) ? 'Y' : 'N'}" />
							</rich:column>
						</rich:extendedDataTable>
						
					</h:panelGrid>
				</h:form>
			</rich:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>