<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">CSP Usage Deviations</ui:define>
	<ui:define name="pageHeader">CSP Usage Deviations</ui:define>
	<ui:define name="body">
		<style>
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn {
	color: #000000;
	font-weight: normal;
}
</style>
		<h:panelGrid columns="1" width="100%">
			<rich:panel header="Search Forecasts">
				<h:form id="search">
				
					<h:panelGrid columns="2">
					
						<h:outputText value="Date from:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{reportCspUsageDeviations.fromDate}" id="calendarFrom" popup="true"
								datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date from is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarFrom" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Date to:" />
						<h:panelGrid columns="2">
							<rich:calendar enableManualInput="true"
								value="#{reportCspUsageDeviations.toDate}" id="calendarTo"
								popup="true" datePattern="yyyy-MM-dd HH:mm" required="true"
								requiredMessage="Date to is required"
								firstWeekDay="1" cellWidth="24px"
								cellHeight="22px" style="width:200px">
							</rich:calendar>
							<rich:message for="calendarTo" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="CSP:" />
						<h:panelGrid id="csppanel" columns="2">
							<rich:select id="selectCsp" enableManualInput="true" required="false"
								valueChangeListener="#{reportCspUsageDeviations.changeCsp}" value="#{reportCspUsageDeviations.selectedCspId}">
								<f:selectItems value="#{reportCspUsageDeviations.csps}" var="csp"
									itemValue="#{csp.ean13}"
									itemLabel="#{csp.name} (#{csp.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem"
									render="csppanel cablepanel behaviourpanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="csppanel cablepanel behaviourpanel" 
								rendered="#{not empty reportCspUsageDeviations.selectedCspId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener target="#{reportCspUsageDeviations.selectedCspId}" value="" />
							</a4j:commandLink>
						</h:panelGrid>

						<h:outputText value="Cable:" />
						<h:panelGrid id="cablepanel" columns="2">
							<rich:select id="selectCable" enableManualInput="true" required="false"
								valueChangeListener="#{reportCspUsageDeviations.changeCable}" value="#{reportCspUsageDeviations.selectedCableId}">
								<f:selectItems value="#{reportCspUsageDeviations.cables}" var="cable"
									itemValue="#{cable.cableId}"
									itemLabel="#{cable.cableId} (#{cable.active ? 'active' : 'inactive'})" />
								<a4j:ajax execute="@this" event="selectitem"
									render="csppanel cablepanel behaviourpanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="csppanel cablepanel behaviourpanel" 
								rendered="#{not empty reportCspUsageDeviations.selectedCableId}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener target="#{reportCspUsageDeviations.selectedCableId}" value="" />
							</a4j:commandLink>
						</h:panelGrid>
						
						<h:outputText value="Behaviour:" />
						<h:panelGrid id="behaviourpanel" columns="2">
							<rich:select id="selectBehaviour" enableManualInput="true"
								required="false" value="#{reportCspUsageDeviations.cableBehavior}">
								<f:selectItems value="#{reportCspUsageDeviations.behaviourOptions}" />
								<a4j:ajax execute="@this" event="selectitem"
									render="csppanel cablepanel behaviourpanel" />
							</rich:select>
							<a4j:commandLink styleClass="no-decor" render="csppanel cablepanel behaviourpanel" 
								rendered="#{not empty reportCspUsageDeviations.cableBehavior}" execute="@this">
								<h:graphicImage value="#{resource['images/trash-light.png']}" height="15px" alt="clear" />
								<f:setPropertyActionListener target="#{reportCspUsageDeviations.cableBehavior}" value="" />
							</a4j:commandLink>
						</h:panelGrid>
						
						<h:outputText value="Upper margin:" />
						<h:panelGrid columns="4">
							<h:inputText value="#{reportCspUsageDeviations.upperMargin}"
								id="uppermargin" style="width:75px;">
								<f:validateLongRange minimum="0" />
								<rich:validator />
							</h:inputText>
							<h:outputText value="Percentage" />
							<h:selectBooleanCheckbox id="upperperc" value="#{reportCspUsageDeviations.upperPercentage}" />
							<rich:message for="uppermargin" ajaxRendered="true" />
						</h:panelGrid>
				
						<h:outputText value="Lower margin:" />
						<h:panelGrid columns="4">
							<h:inputText value="#{reportCspUsageDeviations.lowerMargin}"
								id="lowermargin" style="width:75px;">
								<f:validateLongRange minimum="0" />
								<rich:validator />
							</h:inputText>
							<h:outputText value="Percentage" />
							<h:selectBooleanCheckbox id="lowerperc" value="#{reportCspUsageDeviations.lowerPercentage}" />
							<rich:message for="lowerrmargin" ajaxRendered="true" />
						</h:panelGrid>
						
						<h:outputText value="Show all:" />
						<h:selectBooleanCheckbox id="showall" value="#{reportCspUsageDeviations.showAll}" />

						<h:outputText value="" />
						<h:outputText value="" />
						
						<a4j:commandButton actionListener="#{reportCspUsageDeviations.search}"
							value="Search" render="search deviations" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			
			<rich:panel header="Forecasts With Usage Deviations">
				<h:form id="deviations">
					<h:panelGrid columns="1" style="text-align:center;">
					
						<rich:dataScroller id="devscroller" for="devtable" maxPages="5"
							renderIfSinglePage="false" style="text-align:center;"
							fastStep="5" stepControls="auto" boundaryControls="auto"
							fastControls="auto" />
							
						<rich:extendedDataTable value="#{reportCspUsageDeviations.forecasts}" var="fcast"
							id="devtable" rows="15" selectionMode="single" >
							<rich:column sortBy="#{fcast.calculatedAt}" sortOrder="descending" width="120px">
								<f:facet name="header">
									<h:outputText value="Calculated" />
								</f:facet>
								<h:outputText value="#{fcast.calculatedAt}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="Blockstart" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.getStartDateOfBlock(fcast)}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Cable" />
								</f:facet>
								<h:outputText value="#{fcast.cableCsp.cable.cableId}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="CSP" />
								</f:facet>
								<h:outputText value="#{fcast.cableCsp.csp.name}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Assigned" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.getForecastValue(fcast).assigned}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="+Adjustment" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.getTotalAssigned(fcast)}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Usage" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.getUsage(fcast)}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Deviation" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.getDeviation(fcast)}" />
							</rich:column>	
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Dev %" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.getDeviationPercentage(fcast)}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="Within Margin" />
								</f:facet>
								<h:outputText value="#{reportCspUsageDeviations.isDeviationOutsideMargins(fcast) ? 'N' : 'Y'}" />
							</rich:column>													
						</rich:extendedDataTable>

					</h:panelGrid>
					
					<h:commandButton actionListener="#{reportCspUsageDeviations.export}"
							value="Export" rendered="#{not empty reportCspUsageDeviations.forecasts}" />
				</h:form>
			</rich:panel>
			
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>