<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Topology Master Data</ui:define>
	<ui:define name="pageHeader">Topology Master Data</ui:define>
	<ui:define name="body">
		<rich:panel header="Master Data">
			<h:form id="masterMain">
				<rich:tabPanel switchType="server" id="tabs">
					<rich:tab id="tab_cables" header="Cables"
						headerStyle="padding:3px;">
						<ui:include src="/components/masterdata/tables/tablecables.xhtml" />
						<ui:include src="/components/masterdata/edit/popupeditcable.xhtml" />
						<ui:include src="/components/masterdata/new/popupnewcable.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletecable.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New Cable" 
									rendered="#{authorizer.isAuthorized('edit')}"
									render="newCableGrid" execute="@this" actionListener="#{topologyCable.createNew}"
									oncomplete="#{rich:component('newCablePane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="cabletable cabletableScroller" execute="@this"
									actionListener="#{topologyCable.resetAll()}" />
								<a4j:jsFunction name="cancelCable"
									action="#{topologyCable.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_transformers" header="Transformers"
						headerStyle="padding:3px;">
						<ui:include
							src="/components/masterdata/tables/tabletransformer.xhtml" /> 
						<ui:include
							src="/components/masterdata/edit/popupedittransformer.xhtml" />
						<ui:include
							src="/components/masterdata/new/popupnewtransformer.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletetransformer.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New Transformer"
									rendered="#{authorizer.isAuthorized('edit')}"
									render="newTransformerGrid" execute="@this" actionListener="#{topologyTransformer.createNew}"
									oncomplete="#{rich:component('newTransformerPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="transformertable transformertableScroller" execute="@this"
									actionListener="#{topologyTransformer.resetAll()}" />
								<a4j:jsFunction name="cancelTransformer"
									action="#{topologyTransformer.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_meters" header="Meters"
						headerStyle="padding:3px;">
						<ui:include src="/components/masterdata/tables/tablemeter.xhtml" />
						<ui:include src="/components/masterdata/edit/popupeditmeter.xhtml" />
						<ui:include src="/components/masterdata/new/popupnewmeter.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletemeter.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New Meter"
									rendered="#{authorizer.isAuthorized('edit')}"
									render="newMeterGrid" execute="@this" actionListener="#{topologyMeter.createNew}"
									oncomplete="#{rich:component('newMeterPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="metertable metertableScroller" execute="@this"
									actionListener="#{topologyMeter.resetAll()}" />
								<a4j:jsFunction name="cancelMeter"
									action="#{topologyMeter.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_cable_csp" header="Cable CSP"
						headerStyle="padding:3px;">
						<ui:include
							src="/components/masterdata/tables/tablecablecsp.xhtml" />
						<ui:include
							src="/components/masterdata/edit/popupeditcablecsp.xhtml" />
						<ui:include
							src="/components/masterdata/new/popupnewcablecsp.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletecablecsp.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New Cable CSP"
									rendered="#{authorizer.isAuthorized('edit')}"
									render="newCableCspGrid" execute="@this" actionListener="#{topologyCableCsp.createNew}"
									oncomplete="#{rich:component('newCableCspPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="cablecsptable cablecsptableScroller" execute="@this"
									actionListener="#{topologyCableCsp.resetAll()}" />
								<a4j:jsFunction name="cancelCableCsp"
									action="#{topologyCableCsp.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_csp_connection" header="CSP Connection"
						headerStyle="padding:3px;">
						<ui:include
							src="/components/masterdata/tables/tablecspconnection.xhtml" />
						<ui:include
							src="/components/masterdata/edit/popupeditcspconnection.xhtml" />
						<ui:include
							src="/components/masterdata/new/popupnewcspconnection.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletecspconnection.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New CSP Connection"
									rendered="#{authorizer.isAuthorized('edit')}"
									render="newCspConnectionGrid" execute="@this" actionListener="#{topologyCspConnection.createNew}"
									oncomplete="#{rich:component('newCspConnectionPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="cspconnectiontable cspconnectiontableScroller" execute="@this"
									actionListener="#{topologyCspConnection.resetAll()}" />
								<a4j:jsFunction name="cancelCspConnection"
									action="#{topologyCspConnection.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_csps" header="CSPs" headerStyle="padding:3px;">
						<ui:include src="/components/masterdata/tables/tablecsp.xhtml" />
						<ui:include src="/components/masterdata/edit/popupeditcsp.xhtml" />
						<ui:include src="/components/masterdata/new/popupnewcsp.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletecsp.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New CSP" render="newCspGrid" actionListener="#{topologyCsp.createNew}"
									execute="@this" rendered="#{authorizer.isAuthorized('edit')}"
									oncomplete="#{rich:component('newCspPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="csptable csptableScroller" execute="@this"
									actionListener="#{topologyCsp.resetAll()}" />
								<a4j:jsFunction name="cancelCsp"
									action="#{topologyCsp.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_dso_csp" header="DSO CSP"
						headerStyle="padding:3px;">
						<ui:include src="/components/masterdata/tables/tabledsocsp.xhtml" />
						<ui:include
							src="/components/masterdata/edit/popupeditdsocsp.xhtml" />
						<ui:include src="/components/masterdata/new/popupnewdsocsp.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletedsocsp.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New DSO CSP"
									rendered="#{authorizer.isAuthorized('edit')}"
									render="newDsoCspGrid" execute="@this" actionListener="#{topologyDsoCsp.createNew}"
									oncomplete="#{rich:component('newDsoCspPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="dsocsptable dsocsptableScroller" execute="@this"
									actionListener="#{topologyDsoCsp.resetAll()}" />
								<a4j:jsFunction name="cancelDsoCsp"
									action="#{topologyDsoCsp.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_dsos" header="DSOs" headerStyle="padding:3px;">
						<ui:include src="/components/masterdata/tables/tabledso.xhtml" />
						<ui:include src="/components/masterdata/edit/popupeditdso.xhtml" />
						<ui:include src="/components/masterdata/new/popupnewdso.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletedso.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New DSO" render="newDsoGrid" actionListener="#{topologyDso.createNew}"
									execute="@this" rendered="#{authorizer.isAuthorized('edit')}"
									oncomplete="#{rich:component('newDsoPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="dsotable dsotableScroller" execute="@this"
									actionListener="#{topologyDso.resetAll()}" />
								<a4j:jsFunction name="cancelDso"
									action="#{topologyDso.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
					<rich:tab id="tab_mps" header="Measurement Providers"
						headerStyle="padding:3px;">
						<ui:include src="/components/masterdata/tables/tablemp.xhtml" />
						<ui:include src="/components/masterdata/edit/popupeditmp.xhtml" />
						<ui:include src="/components/masterdata/new/popupnewmp.xhtml" />
						<ui:include
							src="/components/masterdata/delete/popupdeletemp.xhtml" />
						<h:panelGrid columns="1" width="100%">
							<h:panelGrid columns="2">
								<a4j:commandButton value="New Measurement Provider"
									render="newMPGrid" execute="@this" actionListener="#{topologyMeasurementProvider.createNew}"
									rendered="#{authorizer.isAuthorized('edit')}"
									oncomplete="#{rich:component('newMPPane')}.show()" />
								<a4j:commandButton value="Refresh"
									render="mptable mptableScroller" execute="@this"
									actionListener="#{topologyMeasurementProvider.resetAll()}" />
								<a4j:jsFunction name="cancelMP"
									action="#{topologyMeasurementProvider.refresh()}" />
							</h:panelGrid>
						</h:panelGrid>
					</rich:tab>
				</rich:tabPanel>
			</h:form>
		</rich:panel>
	</ui:define>
</ui:composition>
</html>