<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Cable Topology</ui:define>
	<ui:define name="pageHeader">Cable Topology</ui:define>
	<ui:define name="body">
		<h:form id="formCables">
			<h:panelGrid columns="1" width="100%">
			
				<rich:panel header="Actions">
					<h:panelGrid columns="3">
						<a4j:commandButton actionListener="#{topology.refresh}"
							value="Refresh"
							render="cabletable transformertable dsotable metertable cableCsps csptable eans dsoCsps" />
						<a4j:commandButton action="#{topology.forecastChart}"
							value="Forecast chart" type="button" />
						<a4j:commandButton action="#{topology.measurementExport}"
							value="Measurement export" type="button" />
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="Cable">
					<h:panelGrid columns="1">
						<h:panelGrid columns="1" width="100%" style="text-align:center;">
							<rich:dataScroller id="cabletableScroller" for="cabletable"
								maxPages="5" renderIfSinglePage="false" fastStep="5"
								stepControls="auto" boundaryControls="auto" fastControls="auto" />
						</h:panelGrid>
						<rich:extendedDataTable value="#{topologyCable.all}" var="cable"
							id="cabletable" selectionMode="single"
							selection="#{topology.selectionCable}" rows="10">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{topology.cableSelectionListener}"
								render="transformertable dsotable metertable cableCsps csptable eans dsoCsps " />
							<rich:column id="cableId" width="90px" sortBy="#{cable.cableId}" sortOrder="ascending">
								<f:facet name="header">
									<h:outputText value="cable id" />
								</f:facet>
								<h:outputText value="#{cable.cableId}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="behaviour" />
								</f:facet>
								<h:outputText value="#{cable.behaviour.toString()}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="max capacity" />
								</f:facet>
								<h:outputText value="#{cable.maxCapacity}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="max car capacity" />
								</f:facet>
								<h:outputText value="#{cable.maxCarCapacity}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="safety factor" />
								</f:facet>
								<h:outputText value="#{cable.safetyFactor}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="remaining factor" />
								</f:facet>
								<h:outputText value="#{cable.remainingFactor}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="usage measurement" />
								</f:facet>
								<h:outputText value="#{cable.usageMeasurementResponsible}" />
							</rich:column>
							<rich:column id="isActive" width="70px" sortBy="#{cable.active}" sortOrder="descending" sortType="string">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{cable.active}" />
							</rich:column>
							<rich:column width="120px">
								<f:facet name="header">
									<h:outputText value="CSP capacity changed at" />
								</f:facet>
								<h:outputText value="#{cable.cspLastCapacityChange}">
									<f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss" />
								</h:outputText>
							</rich:column>
							<rich:column width="70px">
								<f:facet name="header">
									<h:outputText value="fixed forecast" />
								</f:facet>
								<h:outputText value="#{cable.fixedForecast}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="fixed forecast max" />
								</f:facet>
								<h:outputText value="#{cable.fixedForecastMax}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="fixed forecast deviation" />
								</f:facet>
								<h:outputText value="#{cable.fixedForecastDeviation}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="fixed forecast deviation random" />
								</f:facet>
								<h:outputText value="#{cable.fixedForecastRandom}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="fixed forecast deviation blocks" />
								</f:facet>
								<h:outputText value="#{cable.fixedForecastDeviationBlocks}" />
							</rich:column>
							<rich:column width="50px"
								rendered="#{authorizer.isAuthorized('edit')}">
								<f:facet name="header">
									<h:outputText value="edit" />
								</f:facet>
								<a4j:commandLink styleClass="no-decor" render="editCableGrid"
									execute="@this"
									oncomplete="#{rich:component('editCablePane')}.show()">
									<h:graphicImage value="#{resource['images/edit.png']}" height="15px"
										alt="edit" />
									<f:setPropertyActionListener target="#{topologyCable.edited}"
										value="#{cable}" />
								</a4j:commandLink>
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="DSO">
					<h:panelGrid columns="1">
						<rich:extendedDataTable value="#{topology.selectedCable.dso}"
							var="dso" id="dsotable" selectionMode="none" >
							<rich:column width="100px" filterExpression="#{not dso.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="ean13" />
								</f:facet>
								<h:outputText value="#{dso.ean13}" />
							</rich:column>
							<rich:column width="200px">
								<f:facet name="header">
									<h:outputText value="name" />
								</f:facet>
								<h:outputText value="#{dso.name}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{dso.active}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="Transformer">
					<h:panelGrid columns="1">
						<rich:extendedDataTable
							value="#{topology.selectedCable.transformer}" var="transformer"
							id="transformertable" selectionMode="none">
							<rich:column width="90px" filterExpression="#{not transformer.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="trafo id" />
								</f:facet>
								<h:outputText value="#{transformer.trafoId}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{transformer.active}" />
							</rich:column>
							<rich:column width="220px">
								<f:facet name="header">
									<h:outputText value="Measurement Provider" />
								</f:facet>
								<h:outputText value="#{transformer.measurementProvider.name} (#{transformer.measurementProvider.id})" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="Meters">
					<h:panelGrid columns="1">
						<rich:extendedDataTable value="#{topology.selectedCable.transformer.meters}" var="meter" 
							id="metertable" selectionMode="none">
							<rich:column width="80px" filterExpression="#{not meter.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="meter id" />
								</f:facet>
								<h:outputText value="#{meter.meterId}" />
							</rich:column>
							<rich:column width="300px">
								<f:facet name="header">
									<h:outputText value="name / type" />
								</f:facet>
								<h:outputText value="#{meter.meterName}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="measures" />
								</f:facet>
								<h:outputText value="#{meter.measures}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{meter.active}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="Cable related CSPs">
					<h:panelGrid columns="1">
						<rich:extendedDataTable
							value="#{topology.selectedCable.cableCsps}" var="cableCsp"
							id="cableCsps" selectionMode="single"
							selection="#{topology.selectionCableCsp}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{topology.cableCspSelectionListener}"
								render="csptable eans dsoCsps" />
							<rich:column width="100px" filterExpression="#{not cableCsp.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="ean13" />
								</f:facet>
								<h:outputText value="#{cableCsp.csp.ean13}" />
							</rich:column>
							<rich:column width="200px">
								<f:facet name="header">
									<h:outputText value="name" />
								</f:facet>
								<h:outputText value="#{cableCsp.csp.name}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="relation active" />
								</f:facet>
								<h:outputText value="#{cableCsp.active}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="# of blocks" />
								</f:facet>
								<h:outputText value="#{cableCsp.numberOfBlocks}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="CSP">
					<h:panelGrid columns="1">
						<rich:extendedDataTable value="#{topology.selectedCableCsp.csp}"
							var="csp" id="csptable" selectionMode="none">
							<rich:column width="100px" filterExpression="#{not csp.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="ean13" />
								</f:facet>
								<h:outputText value="#{csp.ean13}" />
							</rich:column>
							<rich:column width="200px">
								<f:facet name="header">
									<h:outputText value="name" />
								</f:facet>
								<h:outputText value="#{csp.name}" />
							</rich:column>
							<rich:column width="620px">
								<f:facet name="header">
									<h:outputText value="endpoint" />
								</f:facet>
								<h:outputText value="#{csp.endpoint}" />
							</rich:column>
							<rich:column width="60px">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{csp.active}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="CSP connections">
					<h:panelGrid columns="1">
						<rich:extendedDataTable
							value="#{topology.selectedCableCsp.cspConnections}" var="ean"
							id="eans" selectionMode="none">
							<rich:column width="130px" filterExpression="#{not ean.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="ean18" />
								</f:facet>
								<h:outputText value="#{ean.ean18}" />
							</rich:column>
							<rich:column width="80px">
								<f:facet name="header">
									<h:outputText value="capacity" />
								</f:facet>
								<h:outputText value="#{ean.capacity}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{ean.active}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
				<rich:panel header="CSP related DSOs">
					<h:panelGrid columns="1">
						<rich:extendedDataTable
							value="#{topology.selectedCableCsp.csp.dsoCsps}" var="dsoCsp"
							id="dsoCsps" selectionMode="none">
							<rich:column width="100px" filterExpression="#{not dsoCsp.deleted}" filterType="custom">
								<f:facet name="header">
									<h:outputText value="ean13" />
								</f:facet>
								<h:outputText value="#{dsoCsp.dso.ean13}" />
							</rich:column>
							<rich:column width="200px">
								<f:facet name="header">
									<h:outputText value="name" />
								</f:facet>
								<h:outputText value="#{dsoCsp.dso.name}" />
							</rich:column>
							<rich:column width="90px">
								<f:facet name="header">
									<h:outputText value="relation active" />
								</f:facet>
								<h:outputText value="#{dsoCsp.active}" />
							</rich:column>
						</rich:extendedDataTable>
					</h:panelGrid>
				</rich:panel>
				
			</h:panelGrid>
		</h:form>
		<ui:include src="/components/masterdata/edit/popupeditcable.xhtml" />
		<a4j:jsFunction name="cancelCable" action="#{topologyCable.refresh()}" />
		<ui:include src="/components/masterdata/edit/popupeditdso.xhtml" />
		<a4j:jsFunction name="cancelDso" action="#{topologyDso.refresh()}" />
		<ui:include src="/components/masterdata/edit/popupeditcsp.xhtml" />
		<a4j:jsFunction name="cancelCsp" action="#{topologyCsp.refresh()}" />
		<ui:include
			src="/components/masterdata/edit/popupedittransformer.xhtml" />
		<a4j:jsFunction name="cancelTransformer"
			action="#{topologyTransformer.refresh()}" />
		<ui:include src="/components/masterdata/edit/popupeditmeter.xhtml" />
		<a4j:jsFunction name="cancelMeteter"
			action="#{topologyMeter.refresh()}" />
	</ui:define>
</ui:composition>
</html>