<!--
  #%L
  SCiP-admin-gui
  %%
  Copyright (C) 2015 - 2016 ENEXIS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #L%
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">User maintenance</ui:define>
	<ui:define name="pageHeader">User maintenance</ui:define>
	<ui:define name="body">

		<rich:panel header="User maintenance">
			<h:panelGrid columns="1">
				<h:form id="usersForm">
					<rich:panel id="usersPanel" header="Users">
						<rich:extendedDataTable value="#{userMaintenance.users}"
							var="user" id="usertable" selectionMode="single"
							selection="#{userMaintenance.selection}">
							<a4j:ajax execute="@form" event="selectionchange"
								listener="#{userMaintenance.selectionListener}"
								render="userPanel" />
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="user id" />
								</f:facet>
								<h:outputText value="#{user.userId}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="first name" />
								</f:facet>
								<h:outputText value="#{user.firstName}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="last name" />
								</f:facet>
								<h:outputText value="#{user.lastName}" />
							</rich:column>
							<rich:column width="60px">
								<f:facet name="header">
									<h:outputText value="active" />
								</f:facet>
								<h:outputText value="#{user.active}" />
							</rich:column>
							<rich:column width="100px">
								<f:facet name="header">
									<h:outputText value="roles" />
								</f:facet>
								<h:outputText value="#{user.roles}" />
							</rich:column>
							<rich:column width="200px">
								<f:facet name="header">
									<h:outputText value="email" />
								</f:facet>
								<h:outputText value="#{user.email}" />
							</rich:column>
						</rich:extendedDataTable>
						<br />
						<h:panelGrid columns="2">
							<a4j:commandButton actionListener="#{userMaintenance.add()}"
								value="Add" render="usertable userPanel" rendered="#{authorizer.isAuthorized('admin')}" />
							<a4j:commandButton actionListener="#{userMaintenance.refresh()}"
								value="Refresh" render="usertable userPanel" />
						</h:panelGrid>
					</rich:panel>
				</h:form>
				<h:form id="userForm">
					<a4j:outputPanel id="userPanel">
						<rich:panel id="userPanel2" header="User"
							rendered="#{authorizer.isAuthorized('admin') and not empty userMaintenance.editedUser}">
							<h:panelGrid columns="3">
								<h:outputText value="User id:"
									style="width: 120px!important; display:block!important;" />
								<h:outputText value="#{userMaintenance.editedUser.userId}"
									rendered="#{userMaintenance.change}" />
								<h:inputText id="userid" style="width:300px;"
									value="#{userMaintenance.editedUser.userId}" required="true"
									requiredMessage="User id is required"
									rendered="#{not userMaintenance.change}" />
								<rich:message for="userid" ajaxRendered="true" />

								<h:outputText value="Password:" />
								<h:inputSecret id="password" style="width:300px;"
									value="#{userMaintenance.password}"
									required="#{not userMaintenance.change}"
									requiredMessage="Password is required for new user" />
								<rich:message for="password" />

								<h:outputText value="Roles:" />
								<h:inputText id="roles" style="width:300px;"
									value="#{userMaintenance.editedUser.roles}" />
								<rich:message for="roles" ajaxRendered="true" />

								<h:outputText value="Active?" />
								<h:selectBooleanCheckbox
									value="#{userMaintenance.editedUser.active}" />
								<h:outputText />

								<h:outputText value="First name:" />
								<h:inputText id="firstName" style="width:300px;"
									value="#{userMaintenance.editedUser.firstName}" required="true"
									requiredMessage="First name is required" />
								<rich:message for="firstName" ajaxRendered="true" />

								<h:outputText value="Last name:" />
								<h:inputText id="lastName" style="width:300px;"
									value="#{userMaintenance.editedUser.lastName}" required="true"
									requiredMessage="Last name is required" />
								<rich:message for="lastName" ajaxRendered="true" />

								<h:outputText value="Email:" />
								<h:inputText id="email" style="width:300px;"
									value="#{userMaintenance.editedUser.email}" required="true"
									requiredMessage="Email is required" />
								<rich:message for="email" ajaxRendered="true" />
							</h:panelGrid>
							<br />
							<h:panelGrid columns="3">
								<a4j:commandButton actionListener="#{userMaintenance.create()}"
									rendered="#{not userMaintenance.change}" value="Create"
									render="usertable userPanel" />
								<a4j:commandButton actionListener="#{userMaintenance.save()}"
									rendered="#{userMaintenance.change}" value="Save"
									render="usertable userPanel" />
								<a4j:region>
									<a4j:commandButton actionListener="#{userMaintenance.delete()}"
										rendered="#{userMaintenance.change}" value="Delete"
										render="usertable userPanel" />
								</a4j:region>
								<a4j:region>
									<a4j:commandButton actionListener="#{userMaintenance.cancel()}"
										value="Cancel" render="usertable userPanel" />
								</a4j:region>
							</h:panelGrid>
						</rich:panel>
					</a4j:outputPanel>
				</h:form>
			</h:panelGrid>
		</rich:panel>
	</ui:define>
</ui:composition>
</html>